<!-- Footer Section
            ==================================================================== -->
            <footer class="footer-section">


                <!-- Footer Top Section -->
                <div class="footer-top-section">
                    <!-- Footer Top Section Container -->
                    <div class="footer-top-section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">
            
            
                                <!-- col-md-4 -->
                                <div class="col-md-4">
            
            
                                    <!-- Widget Block ( Text ) -->
                                    <div class="widget-block widget-block-text">
                                        <!-- Widget Block Container -->
                                        <div class=" widget-block-container">
            
                                        <!-- <div class="col-md-12">
                                                            <a routerLink="/home" class="navbar-brand" title="TEMPUS">
                                                                <img width="auto" src="../../assets/images/logo.png" alt="TEMPUS" />
                                                            </a>
                                                        </div> -->
                                            
            
            
                                            <!-- Widget Block Body -->
                                            <div class="widget-block-body">
            
                                                <p style="text-align:justify">
                                                    Tempus Immigration Consultants is an Immigration & Study Abroad Consultancy based in India.
                                                    <br><i class="glyphicon glyphicon-earphone"></i> <a href="tel:+919567934117" title="+91 956 793 4117">+91 730 670 0014</a> &nbsp;&nbsp;<i class="glyphicon glyphicon-earphone"></i> <a href="tel:+919567934117" title="+91 956 793 4117">+91 730 670 0015</a>&nbsp;
                                        <br><i class="fa fa-envelope"></i> <a href="mailto:inquiry@tempusimmigration.com" title="inquiry@tempusimmigration.com">inquiry@tempusimmigration.com</a>

                                                    </p>
                                                    <!-- Links Block -->
                                                <ul class="links-block">
                                                    <li><a [routerLink]="['services/ielts-coaching']" title="IELTS Training">IELTS Training</a></li>
                                                    <li><a [routerLink]="['contactus']" title="Register @ Tempus">Register @ Tempus</a></li>
                                                    <li><a [routerLink]="['costofstudy']" title="Portfolio">Cost of Study</a></li>
                                                </ul><!-- /End Links Block -->
                                            </div><!-- /End Widget Block Body -->
            
            
                                        </div><!-- /End Widget Block Container -->
                                    </div><!-- /End Widget Block ( Text ) -->
            
            
                                </div><!-- /End col-md-4 -->
            
            
                                <!-- col-md-2 -->
                                <div class="col-md-2">
            
            
                                    <!-- Widget Block ( Link ) -->
                                    <div class="widget-block widget-block-link">
                                        <!-- Widget Block Container -->
                                        <div class="widget-block-container">
            
            
                                            <!-- Widget Block Title -->
                                            <div class="widget-block-title">
                                                <h6>Direct Links</h6>
                                            </div><!-- /End Widget Block Title -->
            
            
                                            <!-- Widget Block Body -->
                                            <div class="widget-block-body">
            
                                                <!-- Links Block -->
                                                <ul class="links-block">
                                                    <li><a href="#" title="FAQs">SINGAPORE</a></li>
                                                    <li><a routerLink="/study-canada" title="Pricing">CANADA</a></li>
                                                    <li><a routerLink="/study-australia" title="Portfolio">AUSTRALIA</a></li>
                                                    <li><a routerLink="/study-newzealand" title="About us">NEW ZELAND</a></li>
                                                    <li><a routerLink="/study-ireland" title="Terms of use">IRELAND</a></li>
                                                    <li><a routerLink="/study-usa" title="Privacy Policy">USA</a></li>
                                                    <li><a routerLink="/study-uk" title="Privacy Policy">UK</a></li>
                                                    <li><a routerLink="/study-poland" title="Privacy Policy">POLAND</a></li>
                                                    <li><a href="#" title="Privacy Policy">GEORGIA</a></li>
                                                    <li><a href="#" title="Privacy Policy">MALTA</a></li>
                                                </ul><!-- /End Links Block -->
            
                                            </div><!-- /End Widget Block Body -->
            
            
                                        </div><!-- /End Widget Block Container -->
                                    </div><!-- /End Widget Block ( Link ) -->
            
            
                                </div><!-- /End col-md-2 -->
            
            
                                <!-- col-md-2 -->
                                <div class="col-md-2">
            
            
                                    <!-- Widget Block ( Link ) -->
                                    <div class="widget-block widget-block-link">
                                        <!-- Widget Block Container -->
                                        <div class="widget-block-container">
            
            
                                            <!-- Widget Block Title -->
                                            <div class="">
                                                <h6 style="color: white">Go To</h6>
                                            </div><!-- /End Widget Block Title -->
            
            
                                            <!-- Widget Block Body -->
                                            <div class="widget-block-body">
            
                                                <!-- Links Block -->
                                                <ul class="links-block">
                                                    <li><a routerLink="/home" title="Cart">Home</a></li>
                                                    <li><a routerLink="/aboutus" title="Checkout">About Us</a></li>
                                                    <li><a routerLink="/contactus" title="Track Order">Contact Us</a></li>
                                                    <li><a routerLink="/joinus" title="Sign in">Join Us</a></li>
                                                </ul><!-- /End Links Block -->
            
                                            </div><!-- /End Widget Block Body -->
            
            
                                        </div><!-- /End Widget Block Container -->
                                    </div><!-- /End Widget Block ( Link ) -->
            
            
                                </div><!-- /End col-md-2 -->
            
            
                                <!-- col-md-4 -->
                                <div class="col-md-4">
            
            
                                    <!-- Widget Block ( Subscribe ) -->
                                    <div class="widget-block widget-block-subscribe">
                                        <!-- Widget Block Container -->
                                        <div class="widget-block-container">
            
            
                                            <!-- Widget Block Title -->
                                            <div class="widget-block-title">
                                                <h6>Subscribe</h6>
                                            </div><!-- /End Widget Block Title -->
            
            
                                            <!-- Widget Block Body -->
                                            <div class="widget-block-body">
            
                                                <!-- Subscribe Form Block (Mailchimp) -->
                                                <div class="form-block subscribe-form-block mailchimp-form-block" data-form-url="//Graphicfort.us11.list-manage.com/subscribe/post?u=dffe9a5d2b472dbe0cc471e1b&amp;id=4150cd2f12">
                                                    <!-- Form Block Container -->
                                                    <div class="form-block-container">
                                                        <!-- Form -->
                                                        <form method="post" action="#">
            
            
                                                            <!-- Email Address -->
                                                            <div class="col-md-12">
                                                                <!-- Form Group -->
                                                                <div class="form-group">
            
                                                                    <label>Email Address</label>
                                                                    <input type="email" class="form-control subscribe-email" name="EMAIL">
            
                                                                </div><!-- /End Form Group -->
                                                            </div><!-- /End Email Address -->
            
            
                                                            <!-- Submit Button -->
                                                            <div class="col-md-12">
                                                                <!-- Form Group -->
                                                                <div class="form-group">
            
                                                                    <button type="submit" class="btn btn-gfort-o">SUBSCRIBE</button>
            
                                                                </div><!-- /End Form Group -->
                                                            </div><!-- /End Submit Button -->
            
            
                                                            <!-- Text -->
                                                            <div class="col-md-12">
                                                                <!-- Form Group -->
                                                                <div class="form-group">
            
                                                                    <p>We promise that we will never share your e-mail address with any third party company.</p>
            
                                                                </div><!-- /End Form Group -->
                                                            </div><!-- /End Text -->
            
            
                                                        </form><!-- /End Form -->
                                                    </div><!-- /End Form Block Container -->
                                                </div><!-- /End Subscribe Form Block (Mailchimp) -->
            
                                            </div><!-- /End Widget Block Body -->
            
            
                                        </div><!-- /End Widget Block Container -->
                                    </div><!-- /End Widget Block ( Subscribe ) -->
            
            
                                </div><!-- /End col-md-4 -->
            
            
                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Footer Top Section Container -->
                </div><!-- /End Footer Top Section -->
            
                <!-- Footer copyright Section -->
                <div class="footer-copyright-section">
                    <!-- Footer copyright Section Container -->
                    <div class="footer-copyright-section-container">
                        <!-- container -->
                        <div class="container">
                            <!-- row -->
                            <div class="row">
            
            
                                <!-- copyright Widget ( Left ) -->
                                <div class="copyright-widget widget-left-side">
                                    <!-- copyright Widget Container -->
                                    <div class="copyright-widget-container">
            
            
                                        <!-- Info Block -->
                                        <div class="info-block">
                                            <!-- Info Block Container -->
                                            <div class="info-block-container">
            
                                                <p>&copy; 2019, All rights reserved. <a href="#" title="Tempus | Study Abroad">Tempus</a> powered by <a style="color:red;font-weight:lighter" href="http://www.teorainfotech.com" title="Teora Infotech | Complete Software Solutions" target="_blank">Teora Infotech</a> </p>
            
                                            </div><!-- /End Info Block Container -->
                                        </div><!-- /End Info Block -->
            
            
                                    </div><!-- /End copyright Widget Container -->
                                </div><!-- /End copyright Widget ( Left ) -->
            
            
                                <!-- copyright Widget ( Right ) -->
                                <div class="copyright-widget widget-right-side">
                                    <!-- copyright Widget Container -->
                                    <div class="copyright-widget-container">
            
                                        <!-- Social Icons Block ( small ) -->
                                        <div class="social-icons-block icons-transparent icons-sm icons-style-1">
                                            <ul>
            
                                                <li>
                                                    <a href="https://www.facebook.com/tempusimmigrationconsultants" title="Facebook">
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                                    </a>
                                                </li>
            
                                                <li>
                                                    <a href="#" title="Google Plus">
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                    </a>
                                                </li>
            
                                                <li>
                                                    <a href="#" title="Twitter">
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                                    </a>
                                                </li>
            
                                                <li>
                                                    <a href="#" title="youtube">
                                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                                                    </a>
                                                </li>
            
                                                <li>
                                                    <a href="#" title="Behance">
                                                        <i class="fa fa-behance" aria-hidden="true"></i>
                                                        <i class="fa fa-behance" aria-hidden="true"></i>
                                                    </a>
                                                </li>
            
                                                <li>
                                                    <a href="#" title="Pinterest">
                                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                    </a>
                                                </li>
            
                                                <li>
                                                    <a href="#" title="Dribbble">
                                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                                        <i class="fa fa-dribbble" aria-hidden="true"></i>
                                                    </a>
                                                </li>
            
                                            </ul>
                                        </div><!-- /End Social Icons Block ( small ) -->
            
                                    </div><!-- /End copyright Widget Container -->
                                </div><!-- /End copyright Widget ( Right ) -->
            
            
                            </div><!-- /End row -->
                        </div><!-- /End container -->
                    </div><!-- /End Footer copyright Section Container -->
                </div><!-- /End Footer copyright Section -->
            
            
            </footer><!-- /End Footer Section -->
            