
            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">STUDENT VISA</h1>
                            <!-- <p class="breadcrumb-subtitle">What We Provide</p> -->

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">Student Visa</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->
            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">


                        <!-- gfort Section -->
                        <div class="gfort-section ">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Section Title -->
                                            <div class="section-title text-center">

                                                <h2 class="section-main-title">STUDENT VISA</h2>

                                                <p class="section-subtitle" style="text-align: justify;">One of our areas of expertise is student visa wherein we ﬁrst look into the students IELTS score which is mandatory. Consequently, we look into the area of interest of the student and the institution that matches the requirements of the student. Our team of experts is constantly making sure to deliver the quickest and smoothest process of visa processing to the students. To add the extra beneﬁt, our associate partners around the globe ensures that the students receive post visa services with us such as airport pick-up, accommodation services, work permit and many more.</p>

                                                <div class="hr-divider hr-divider-style-3 text-center"></div>

                                            </div><!-- /End Section Title -->
                                        </div><!-- /End col-md-12 -->


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <div class="hr-divider hr-divider-style-5 text-center hr-divider-grey-color mb-60">
                                                <i class="fa fa-heart-o"></i>
                                            </div>
                                        </div><!-- /End col-md-12 -->


                              


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->