<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
            <!-- Section Container -->
            <div class="section-container">
        
        
                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">
        
                        <h1 class="breadcrumb-main-title">Study Destinations</h1>
                        <p class="breadcrumb-subtitle">What We Provide</p>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->
        
        
                <!-- Breadcrumb Block -->
                <div class="breadcrumb-block">
                    <!-- container -->
                    <div class="container">
        
                        <ol class="breadcrumb">
                            <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">Germany</li>
                        </ol>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb block -->
        
        
            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        
        
        <div class="gfort-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                        data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                            </ul>
        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                    <div>
                                        <p>Germany officially the Federal Republic of Germany is a federal parliamentary republic in
                                                central-western Europe. It includes 16 constituent states, covers an area of 357,021 square kilometres
                                                (137,847 sq mi), and has a largely temperate seasonal climate. With about 82 million inhabitants,
                                                Germany is the most populous member state of the European Union. After the United States, it is the
                                                second most popular immigration destination in the world. Germany&#39;s capital and largest metropolis is
                                                Berlin. Other major cities include Hamburg, Munich, Cologne, Frankfurt, Stuttgart and Düsseldorf.
                                                Germany was a founding member of the European Union in 1993. It is part of the Schengen Area, and
                                                became a co-founder of the Eurozone in 1999. Germany is a member of the United Nations, NATO, the
                                                G8, the G20, and the OECD.</p>
        
                                        <h3 id="quickFacts">QUICK FACTS</h3>
                                        <ul>
                                            <li>Capital: Berlin</li>
                                            <li>Largest City: Berlin</li>
                                            <li>Population: 80.62 million</li>
                                            <li>Official Languages: German, English and French</li>
                                            <li>ISD Code: +49</li>
                                            <li>Currency: Euro</li>
                                            <li>Minimum Wages / Hour: €8.50</li>
                                            <li>Number of Universities: 189 (Roughly)</li>

          
        
                                        </ul>
        
                                        <p>The responsibility for the education system in Germany lies primarily with the states (Länder), while the
                                                federal government plays a minor role.</p>
        
                                        <h3 id="educationIns">GERMAN EDUCATIONAL INSTITUTIONS</h3>
                                        <ul>
                                        
                                            <li> Universities of ‘Applied Sciences’</li>
                                            <li> Colleges of Art and Music;</li>
                                            <li> The entire system in Germany totals nearly 400 higher education institutions, with roughly 120
                                                universities</li>
                                            <li> 189 universities of public administrative sciences</li>
                                            <li> 50 art colleges.</li>
                                        
                                        </ul>

                                        <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                        <ul>
                                        
                                            <li>Diploma/Certifications</li>
                                        
                                        
                                            <li>Bachelor’s Degree</li>
                                        
                                            <li>Master’s Degree</li>
                                            <li>Doctorate</li>
                                    
                                        
                                        </ul>

                                        <h3 id="whyStudyin">WHY STUDY IN GERMANY?</h3>
                                        <p>
                                                Germany is the third most popular destination among international students in the world. More than
                                                twelve percent of students at German universities come from abroad. Germany is an attractive place to
                                                
                                                study and German university degrees are highly respected by employers worldwide. German higher
                                                education is one of the best in the world! Whether it’s cars or education, people everywhere recognise
                                                “Made in Germany” as a seal of quality. You can benefit from Germany‘s long and famous university
                                                tradition especially in the fields of engineering and science. A German university degree is highly
                                                respected by employers around the world. Germany’s higher education system has something for
                                                everyone! There are almost 450 state-accredited universities with some 17,500 degree programmes in
                                                Germany. German universities offer degree programmes in every possible subject and academic level –
                                                be it bachelor’s, master’s, state examinations or doctoral degrees. General universities focus strongly on
                                                scientifically oriented study in a wide range of disciplines. Universities of applied science, on the other
                                                hand, are very practice-oriented. If you’re more interested in artistic subjects, you can enrol at a college
                                                of art, film or music.
                                        </p>
                                                
                                        <ul>
                                            <li>Large number of prestigious universities &amp; courses to choose from</li>
                                            <li>Lowest Tuition Fees</li>
                                            <li>Excellent health care</li>
                                            <li>World class degrees recognised around the world.</li>
                                            <li>Scientifically oriented study in a wide range of disciplines.</li>
                                            <li> Ample number of scholarships on offer.</li>
                                            <li> One of the oldest education systems in the world, the degrees awarded by German universities</li>
                                            <li>are highly regarded and recognized throughout the world by employers and academic
                                                institutions.</li>
                                            <li>The principal degree awarded in Germany for scientific subjects is the Diploma, which is
                                                considered to be equivalent to the Master of Science or Master of Engineering degree awarded
                                                in other Countries.</li>
                                            <li>For the international student an important feature of most German universities is that they do
                                                not charge tuition fees. University education in Germany is federally funded.</li>
                                        </ul>
        
        
                                        <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                        <p>Overall GPA 2.75</p>
                                        <ul>
                                        
                                            <li>MASTERS <br>
                                                15 &amp; 16 year Education with 75% or 2.75 GPA.<br>
                                                IELTS - 6.5 overall or TOEFL - 85points (IBT)<br>
                                            </li>
                                            <li>MBA<br>
                                                IELTS - 6.5 or TOEFL - 85points (IBT)<br>
                                                Work Experience 2 - 3 year at managerial level GMAT – 550<br>
                                                GMAT - 550 (exceptionally required)<br>
                                            </li>
                                        </ul>
        
                                        <h3 id="intakes">INTAKE </h3>
                                        <ul>
                                            <li>March/September</li>
                                        </ul>
        
                                        <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                        <ul>
                                            <li>Varies according to the course &amp; university but on an average costs around €600 per semester</li>
                                        </ul>
                                        <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                        <h3 id="costOfLiving">COST OF LIVING</h3>
                                        <p>Average costs ranging from €350 to €1,000 (US$482 to US$1,377) per month.</p>
        
                                        <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                        <p>240 days part time or 120 days full time in a year .Students can work for more hours subject to approval
                                                from foreign authority, Minimum wage students can earn from part time work is €8.50</p>
        
                                        <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                      <p>A permanent resident’s permit will be granted after two years.</p>
        
                                       
                                        <h3 id="disclaimer">DISCLAIMER</h3>
                                        <p>This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                                which information is taken from various relevant websites. It aims to answer some common questions.
                                                Visitors are recommended to contact the office for most updated information.</p>
        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="gfort-section fullwidth-section pt-0 pb-0">
            <!-- Section Container -->
            <div class="section-container">
               <!-- container -->
               <div class="container">
                  <!-- row -->
                  <div class="row">
                     <!-- col-md-12 -->
                     <div class="col-md-12">
                        <!-- Call To Action Block -->
                        <div class="cta-block cta-block-main mb-0">
                           <!-- Call To Action Block Container -->
                           <div class="cta-block-container">
                              <!-- Call To Action Block Body -->
                              <div class="cta-block-body">
                                 <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                              </div>
                              <!-- /End Call To Action Block Body -->
                              <!-- Call To Action Block Button -->
                              <div class="cta-block-btn">
                                 <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                              </div>
                              <!-- /End Call To Action Block Button -->
                            
                           </div>
                           <!-- /End Call To Action Block Container -->
                        </div>
                        <!-- /End Call To Action Block -->
                     </div>
                     <!-- /End col-md-12 -->
                  </div>
                  <!-- /End row -->
               </div>
               <!-- /End container -->
            </div>
            <!-- /End Section Container -->
         </div>
         <!-- /End gfort Section -->
                       <!-- gfort Section -->
                       <div  class="gfort-section fullwidth-section pt-0 pb-0">
                         <!-- Section Container -->
                         <div class="section-container">
                            <!-- container -->
                            <div class="container">
                               <!-- row -->
                               <div class="row">
                                  <!-- col-md-12 -->
                                  <div class="col-md-12">
                                     <!-- Call To Action Block -->
                                     <div style="background-color:white" class="cta-block  mb-0">
                                        <!-- Call To Action Block Container -->
                                        <div class="cta-block-container">
                                           <!-- Call To Action Block Button -->
                                           <div class="cta-block-btn">
                                                 <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                              </div>
                                              <!-- /End Call To Action Block Button -->
                                           <!-- Call To Action Block Body -->
                                           <div class="cta-block-body">
                                              <p>Download Our Brochure</p>
                                           </div>
                                           <!-- /End Call To Action Block Body -->
                                           
                                         
                                        </div>
                                        <!-- /End Call To Action Block Container -->
                                     </div>
                                     <!-- /End Call To Action Block -->
                                  </div>
                                  <!-- /End col-md-12 -->
                               </div>
                               <!-- /End row -->
                            </div>
                            <!-- /End container -->
                         </div>
                         <!-- /End Section Container -->
                      </div>