
            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">PRE-DEPARTURE SUPPORT</h1>
                            <!-- <p class="breadcrumb-subtitle">What We Provide</p> -->

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">Pre-departure Support</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->
            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">


                        <!-- gfort Section -->
                        <div class="gfort-section ">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Section Title -->
                                            <div class="section-title text-center">

                                                <h2 class="section-main-title">PRE-DEPARTURE SUPPORT</h2>

                                                <p class="section-subtitle" style="text-align: justify;">We understand the difficulties students face when they first land in a new country and our pre-departure support helps you overcome all of those to make your stay in the new destination a pleasant one. We’re committed to making sure you feel supported every step of your study abroad journey. Our counsellors are always available to answer your queries and help settle your nerves.</p>
                                                <p class="section-subtitle" style="text-align: justify;">We conduct several pre-departure sessions to prepare you for life in the new country. These pre-departure orientation sessions will help you navigate personal and cultural growth opportunities while you’re abroad. Here are a few things that we will discuss in the sessions.</p>
                                               

                                            </div><!-- /End Section Title -->
                                        </div><!-- /End col-md-12 -->

                                           <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">


                        <!-- gfort Section -->
                        <div class="gfort-section">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- gfort Accordion -->
                                            <div class="gfort-accordion gfort-accordion-style-1">
                                                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">


                                                    <!-- Panel 1 -->
                                                    <div class="panel panel-default">

                                                        <div class="panel-heading" role="tab" id="heading1">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">How do I Accommodation?</a>
                                                            </h4>
                                                        </div>

                                                        <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                                                            <div class="panel-body">
                                                                <p>Finding a home away from home is an expensive and time-consuming affair. University hostel or private accommodation, we help students take their pick. Our associate partners ensure to find you a perfect private accommodation in the country so that you will feel home at abroad.</p>
                                                            </div>
                                                        </div>

                                                    </div><!-- /End Panel 1 -->


                                                    <!-- Panel 2 -->
                                                    <div class="panel panel-default">

                                                        <div class="panel-heading" role="tab" id="heading2">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">Part Time Job and Advice on Internships</a>
                                                            </h4>
                                                        </div>

                                                        <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                                                            <div class="panel-body">
                                                                <p>Part time jobs can help complement your study and living experience. We’ll discuss how to stay within the rules of your student visa and give you some tips on finding a decent part time job plus, much more practical guidance and support.</p>
                                                            </div>
                                                        </div>

                                                    </div><!-- /End Panel 2 -->


                                                    <!-- Panel 3 -->
                                                    <div class="panel panel-default">

                                                        <div class="panel-heading" role="tab" id="heading3">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">What to Pack?</a>
                                                            </h4>
                                                        </div>

                                                        <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                                                            <div class="panel-body">
                                                                <p>To help you cut back on the packing time, we provide you with a checklist that you can refer to while to organize your luggage</p>
                                                            </div>
                                                        </div>

                                                    </div><!-- /End Panel 3 -->


                                                    <!-- Panel 4 -->
                                                    <div class="panel panel-default">

                                                        <div class="panel-heading" role="tab" id="heading4">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">Banking</a>
                                                            </h4>
                                                        </div>

                                                        <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                                                            <div class="panel-body">
                                                                <p>First things first, open a bank account as soon as you reach your host country so that if you decide to do a part-time job, your employer can deposit your salary into your account. We will provide you with tips to get your finances in order in the new country.</p>
                                                            </div>
                                                        </div>

                                                    </div><!-- /End Panel 4 -->


                                                    <!-- Panel 5 -->
                                                    <div class="panel panel-default">

                                                        <div class="panel-heading" role="tab" id="heading5">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">A Peek into The Local Culture</a>
                                                            </h4>
                                                        </div>

                                                        <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                                                            <div class="panel-body">
                                                                <p>You will be able to interact with your classmates better if you acquire some knowledge of the local customs & culture. We will update you on the activities, culture, & other related information.</p>
                                                            </div>
                                                        </div>

                                                    </div><!-- /End Panel 5 -->


                                                    <!-- Panel 6 -->
                                                    <div class="panel panel-default">

                                                        <div class="panel-heading" role="tab" id="heading6">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">Student Life in The New Country</a>
                                                            </h4>
                                                        </div>

                                                        <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                                                            <div class="panel-body">
                                                                <p>In our session, we will brief you about classroom environments & expectations, different learning styles to help you adjust to life on campus.</p>
                                                            </div>
                                                        </div>

                                                    </div><!-- /End Panel 6 -->


                                                    <!-- Panel 7 -->
                                                    <div class="panel panel-default">

                                                        <div class="panel-heading" role="tab" id="heading7">
                                                            <h4 class="panel-title">
                                                                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">How to Deal with Homesickness?</a>
                                                            </h4>
                                                        </div>

                                                        <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                                                            <div class="panel-body">
                                                                <p>Staying away from one’s family & friends is hard. We will provide you with tips to deal with the feeling of homesickness effectively.</p>
                                                            </div>
                                                        </div>

                                                    </div><!-- /End Panel 7 -->


                                                  

                                                </div>
                                            </div><!-- /End gfort Accordion -->
                                        </div><!-- /End col-md-12 -->


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->                                       

            </div><!-- /End Page Body -->