
            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">HUMAN RESOURCE</h1>
                            <!-- <p class="breadcrumb-subtitle">What We Provide</p> -->

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">Human Resource</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->
            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">


                        <!-- gfort Section -->
                        <div class="gfort-section ">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Section Title -->
                                            <div class="section-title text-center">

                                                <h2 class="section-main-title">HUMAN RESOURCE</h2>

                                                <p class="section-subtitle" style="text-align: justify;">We actively search, Recruit and Screen candidates for employment, train them according to specific Client requirements and deploy them to their work locations. More importantly, when searching for the best candidates, we take attitude, personality, aptitude and flexibility to learn and adopt into special consideration.
                                                    We employ effective methods for searching, recruiting and screening candidates according to the Client’s specific needs and requirements. The candidates must pass through the screening process before referring them to any Client to have final screening for acceptance. Feedback and constant Outsourced Contract Services communication with our Clients is one of the keys in ensuring better talent. We understand that each Client is unique and have special and unique needs. Our flexibility allows us to create an arrangement which incorporates the various aspects of our different services. This in turn allows us to “customer” the service to better respond to the Client’s particular requirements.
                                                    </p>

                                                <div class="hr-divider hr-divider-style-3 text-center"></div>

                                            </div><!-- /End Section Title -->
                                        </div><!-- /End col-md-12 -->


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <div class="hr-divider hr-divider-style-5 text-center hr-divider-grey-color mb-60">
                                                <i class="fa fa-heart-o"></i>
                                            </div>
                                        </div><!-- /End col-md-12 -->


                              


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->