<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
            <!-- Section Container -->
            <div class="section-container">
        
        
                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">
        
                        <h1 class="breadcrumb-main-title">Study Destinations</h1>
                        <p class="breadcrumb-subtitle">What We Provide</p>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->
        
        
                <!-- Breadcrumb Block -->
                <div class="breadcrumb-block">
                    <!-- container -->
                    <div class="container">
        
                        <ol class="breadcrumb">
                            <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">UK</li>
                        </ol>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb block -->
        
        
            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        
        
        <div class="gfort-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                        data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                            </ul>
        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                    <div>
                                        <p>
                                            The United Kingdom of Great Britain and Northern Ireland, commonly known as the
                                            United Kingdom (UK) or Britain,[note 8] is a sovereign country in western Europe. Lying off the north-
                                            western coast of the European mainland. The UK consists of four countries—England, Scotland, Wales
                                            and Northern Ireland. The United Kingdom is a developed country and has the world&#39;s fifth-largest
                                            economy by nominal GDP and ninth-largest economy by purchasing power parity. The UK is considered
                                            to have a high-income economy and is categorised as very high in the Human Development Index,
                                            ranking 14th in the world. It was the world&#39;s first industrialised country and the world&#39;s foremost power
                                            during the 19th and early 20th centuries
                                        </p>
        
                                        <h3 id="quickFacts">QUICK FACTS</h3>
                                        <ul>
                                            <li>Capital: London</li>
                                            <li>Largest City: London</li>
                                            <li>Population: 63.23 million</li>
                                            <li>Official Languages: English</li>
                                            <li>ISD Code: +1</li>
                                            <li>Currency: Pound Sterling (GBP)</li>
                                            <li>Minimum Wages / Hour: 112.20 pound</li>
                                            <li>Number of Universities: 109</li>


                                        </ul>
                                        <p>
                                                Education in the United Kingdom is a devolved matter with each of the countries of the United Kingdom
                                                having separate systems under separate governments: the UK Government is directly responsible for
                                                England; whilst the Scottish Government, the Welsh Government and the Northern Ireland Executive
                                                are responsible for Scotland, Wales and Northern Ireland, respectively.
                                        </p>


        
                                        <h3 id="educationIns">UK EDUCATIONAL INSTITUTIONS</h3>
                                        <ul>
                                                <li>Colleges</li>
                                                <li>Universities</li>
                                                <li>Institutions of higher education.</li>
                                        </ul>

                                        <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                        <ul>
                                                <li>Degree courses</li>
                                                <li>Vocational training</li>
                                                <li>Diplomas</li>
                                                <li>Postgraduate courses.</li>
                                                <li>Sandwich courses whereby part-time work and real experience is combined between the course
                                                duration.</li>
                                                <li>First degree courses of 3-4 years duration.</li>
                                                <li>Diplomas and vocational courses of 1-2 years with the Vocational and Technical Education
                                                Councils conferring the degree certificate.</li>
                                                <li>Postgraduate study may be in one of two forms - either as a work of independent research
                                                under supervision or a taught course of one or two year’s duration.</li>
                                        </ul>
        
                                        <h3 id="whyStudyin">WHY STUDY IN THE UK?</h3>
                                        <p>
                                                British higher education and qualifications have an impressive international reputation, with students in
                                                the United Kingdom encouraged to develop their potential while enjoying a full social life. England has
                                                countless educational institutions (over 3000 as of 2013), and almost every single one of them has
                                                opportunities for international students to study there. You can choose from a variety of different
                                                undergraduate and graduate degrees, and combine your courses in order to make a degree program
                                                that suits your needs and interests.
                                                <br>
                                                English educational institutions have a rich history and tradition of providing world class education to
                                                their students. Oxford and Cambridge are names that are known throughout the world because of their
                                                high quality courses and devotion to education quality and performance. You can find literally any
                                                course that you want in England, and you will find at least one (likely more) schools that will help you
                                                excel in your area of expertise.
                                        </p>
                                        <ul>
               
                                                <li>The UK Degrees are recognized and respected all over the world. It’s the oldest established
                                                educational system which is still succeeding in a global competition.</li>
                                                <li>Large number of prestigious universities &amp; courses to choose from</li>
                                                <li>World class research nation with internationally recognized qualifications</li>
                                                <li>Student discount facilities provided free through National Union of Students membership for all
                                                students.</li>
                                                <li>International students has high success rate in U.K educational system.</li>
                                                <li>National Health Service is Free for students going for higher studies for more than 6 months of
                                                studies.</li>
                                                <li>Sandwich bachelors with Industry placement.</li>
                                                <li>Encourages relevant skills that are marketable and sought by today’s top companies.</li>
                                                <li>Availability of flexible and shorter duration courses when compared to other countries where
                                                students could you spend less time away from home and less money on course fees.</li>
                                                <li>Easy Visa rules for international students</li>

                                        </ul>
        
        
                                        <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                        <ul>
                                            <li>IELTS or TOEFL scores or any equivalent as a proof of English Proficiency</li>
                                            <li>Diploma programs: Overall band score of 5.0</li>
                                            <li>Bachelor’s Degree: Overall band score of 6.0</li>
                                            <li>Masters Programs: Overall band score of 6.0 – 6.5</li>
                                        </ul>
                                  
                                     
        
                                        <h3 id="intakes">INTAKE </h3>
                                        <ul>
                                            <li>January /February/September/November</li>
                                        </ul>
        
                                        <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                        <p>
                                                An average of 7500 pounds per year
                                        </p>

                                        <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                        <h3 id="costOfLiving">COST OF LIVING</h3>
                                        <ul>
                                                <li>9180 GBP (Inner London – 9 months)</li>
                                                <li>7380 GBP (Outer London – 9 months)</li>
                                        </ul>
        
                                        <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                        <p>
                                                Students are allowed to work part time 20 hours per week and full time 40 hours per week during
                                                holidays while studying the course. In UK, Minimum wages varies between £112.20 – £131.70 per week
                                                depending upon the province.
                                        </p>
        
                                        <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                        <p>
                                            If you’re considering staying in the UK after your studies, you may need to apply for a visa
                                            extension.Depending on the type of employment you want to pursue, how long you want to stay and
                                            your current visa status, you may need to apply for one of these three work visas.
                                        </p>
                                        <div class="table-responsive">
                                        <table>
                                            <tr>
                                                    <th></th>
                                                    <th>Tier 2
                                                        General</th>
                                                    <th>Tier 1 
                                                        Graduate
                                                        Entrepreneur</th>
                                                    <th>Tier 1
                                                        Entrepreneur</th>
                                                    <th>Tier 5
                                                        Youth Mobility</th>
                                                    <th>Tier 5 
                                                        Temporary Worker </th>
                                                       
                                            </tr>
                                            <tr>
                                                <td>Type of visa</td>
                                                <td>Employer
                                                    sponsored</td>
                                                <td>Endorsed by
                                                    your institution</td>
                                                <td>Non-sponsored</td>
                                                <td>Non-
                                                    sponsored
                                                    (except those
                                                    applying from
                                                    Hong Kong,
                                                    Taiwan,
                                                    Republic of
                                                    Korea)</td>
                                                <td>
                                                    Employer
                                                    sponsored
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>What do I need to
                                                    qualify?</td>
                                                <td>Job offer from
                                                    Tier 2 sponsor</td>
                                                <td>Endorsement by
                                                    your institution
                                                    or the Sirius
                                                    programme</td>
                                                <td>Investment of
                                                        £200,000 or
                                                        £50,000</td>
                                                <td>Age 18–30,
                                                        must be
                                                        eligible
                                                        nationality</td>
                                                <td>Tier 5 sponsor</td>
                                            </tr>
                                            <tr>
                                                <td>Maximum time
                                                    permitted in this
                                                    category?</td>
                                                <td>5 years</td>
                                                <td>1 year (potential
                                                    for 1-year
                                                    extension)</td>
                                                <td>3 years
                                                    (potential for 2-
                                                    year extension)</td>
                                                <td>2 years</td>
                                                <td>Up to 2 years</td>
                                            </tr>
                                            <tr>
                                                <td>Can I apply to
                                                        settle permanently
                                                        in the UK?</td>
                                                <td>Yes, after 5 years</td>
                                                <td>No</td>
                                                <td>Yes after 3 or 5 years</td>
                                                <td>No</td>
                                                <td>No</td>
                                            </tr>
                                            <tr>
                                                <td>Can I take on work
                                                        outside my main
                                                        job/business
                                                        venture?</td>
                                                <td>Yes, with conditions</td>
                                                <td>Yes</td>
                                                <td>No</td>
                                                <td>Yes</td>
                                                <td>Yes, with conditions</td>
                                            </tr>
                                            <tr>
                                                <td>Can I extend this
                                                        visa?</td>
                                                <td>Up to 1 year</td>
                                                <td>Up to 1 year</td>
                                                <td>Up to 2 years</td>
                                                <td>No</td>
                                                <td>Depends on Tier
                                                        5 scheme</td>
                                            </tr>
                                            <tr>
                                                <td>Can I bring
                                                        dependants?</td>
                                                <td>Yes</td>
                                                <td>Yes</td>
                                                <td>Yes</td>
                                                <td>No</td>
                                                <td>Yes</td>
                                            </tr>
                                        </table>
                                    </div>
                                        <br>
                                        <p>
                                                For information about student visas, please go to the Visas section.
                                        </p>
                                        <br>

                                        <p><b style="text-decoration: underline">Tier 2 General – Employment</b></p>
                                        <p>
                                                If you’re in search of full-time employment after your studies, the most common route is to apply for a
                                                Tier 2 General visa. Depending on your terms of employment, Tier 2 enables you to stay in the UK for up
                                                to five years, but you will need to secure a job before applying as the visa is granted on the basis of
                                                already having found employment in the UK.
                                        </p>
                                        <p>
                                                If you want to switch from a Tier 4 to a Tier 2 (General) visa you must have gained one of these
                                                qualifications while you were studying in the UK:
                                        </p>
                                        <ul>
                                                <li>a UK bachelor’s degree</li>
                                                <li>a UK master’s degree</li>
                                                <li>a postgraduate certificate in education</li>
                                                <li>a professional graduate diploma of education.</li>
                                        </ul>
                                        <p>
                                                There are a number of other visa categories that allow you to switch to a Tier 2 visa from within the UK.
                                                Make sure to read the full policy guidance before you apply.
                                        </p>
                                        <p>
                                                If you’re a PhD student, you must have completed at least 12 months’ study for your PhD during your
                                                most recent stay in the UK and had permission to take the qualification.
                                        </p>
                                        <p>
                                               <b>What do I need to apply?</b>
                                        </p>
                                        <p>
                                                Applying for the visa is straightforward. You just need to make sure you meet all the requirements and
                                                have all the right documentation.
                                        </p>
                                        <ul>
                                                <li>Sponsorship: Your employer must provide you with a certificate of sponsorship. Your employer
                                                    must have a Tier 2 sponsor license.</li>
                                                <li>Salary: Your pre-tax salary must be at least £20,800. There are certain exceptions to this.</li>
                                                <li>Proof of English language ability: You may need to prove your knowledge of English. This
                                                    requirement is met with a degree-level qualification from a UK institution or an academic
                                                    qualification that was taught in English and is recognised by UK NARIC as being equivalent to a
                                                    UK bachelor’s degree. You may also use a Secure English Language Test providing it as at a B1
                                                    level.</li>
                                                <li>Funds: You need to show you have had at least £945 in your bank account for a period of 90
                                                    consecutive days ending no more than 31 days before you make your application. The other
                                                    option is to get your sponsor’s written certification that they can support and accommodate you
                                                    for the first month you’re employed.</li>
                                                <li>Documents: Make sure you carefully read the list of required documents.</li>
                                        </ul>

                                        <br>
                                        <p><b style="text-decoration: underline">Tier 5 – Youth Mobility Scheme</b></p>
                                        <p>
                                            With the Youth Mobility Scheme, you can work in the UK for up to two years.
                                        </p>
                                        <p>
                                                This scheme is available to nationals between the ages of 18 and 30 of Australia, Canada, Hong Kong,
                                                Japan, Monaco, New Zealand, Republic of Korea and Taiwan, and to British Overseas Citizens, British
                                                Overseas Territories Citizens and British Nationals (Overseas).
                                        </p>
                                        <p>
                                                You can only apply to this scheme from outside the UK.
                                        </p>
                                        <p>
                                               <b>What do I need to apply?</b>
                                        </p>
                                        <ul>
                                                <li>Sponsorship: You need a certificate of sponsorship. If you are from one of the other eligible
                                                countries or you have British citizenship, you are not required to register your interest and can
                                                just apply using your passport as evidence that you are sponsored, but places are limited.</li>
                                                <li>Funds: You must have £1,890 in savings on the date on which you apply for entry clearance.</li>
                                                <li>Documents: Make sure you read up on the different ways you can evidence funds (e.g. letter
                                                from a bank or building society).</li>
                                        </ul>
                                        <p>
                                                For a full overview of the Youth Mobility Scheme, check the Home Office’s website.
                                        </p>

                                        <br>
                                        <p>
                                            <b style="text-decoration: underline">Tier 5 – Temporary Worker</b>
                                        </p>
                                        <p>
                                                A Tier 5 Temporary Worker visa allows you to work in the UK for up to 12 or 24 months (depending on
                                                the scheme you’re applying for), or the time given on your certificate of sponsorship (which you must
                                                have in order to get a visa) plus 28 days, whichever is shorter.
                                        </p>
                                        <p>
                                                If you are offered a job in one of the following areas by a licensed sponsor, then you qualify for a Tier 5
                                                Temporary worker visa:
                                        </p>
                                        <ul>
                                                <li>creative and sporting</li>
                                                <li>charity workers (unpaid voluntary work)</li>
                                                <li>religious workers</li>
                                                <li>government authorized exchange</li>
                                                <li>International agreement.</li>
                                        </ul>
                                        <p>
                                                In most cases you need to leave the UK to apply for this scheme. The only limited exception that allows
                                                you to apply from within the UK is if you apply under Tier 5 (Government Authorized Exchange) in order
                                                to undertake professional training or an internship. Read more on this at UKCISA.
                                        </p>
                                        <p>
                                            <b>What do I need to apply?</b>
                                        </p>
                                        <p>
                                                The requirements for each of the five schemes above vary significantly, but in general you will need the
                                                following:
                                        </p>
                                        <ul>
                                                <li>Sponsorship: You must have a Tier 5 sponsor under the scheme of relevance to you.</li>
                                                <li>Funds: Make sure you can show that you have held funds of £945 for a period of 90 consecutive
                                                days.</li>
                                                
                                                <li>Documents: The required documents vary significantly between each of the Tier 5 schemes. The
                                                Home Office has produced guides in English and simplified Chinese that you can use to help you
                                                prepare your documentation for a Tier 5 Temporary Worker visa.</li>
                                        </ul>

                                        <br>
                                        <p>
                                            <b style="text-decoration: underline">Tier 1 – Entrepreneur</b>
                                        </p>
                                        <p>
                                                The Tier 1 Entrepreneur visa allows you to stay in the UK for a maximum of three years if applying from
                                                within the UK, or three years and four months if applying from outside the UK. It’s designed to help
                                                people who want to set up a successful business in the UK. You may extend this visa for two more years,
                                                but bear in mind the total time you can stay in the UK under this visa scheme is five years.
                                        </p>
                                        <p>
                                                You can’t do any other work outside your business – but if your business does well and you stay for five
                                                years on this visa, you can apply for settlement in the UK.
                                        </p>
                                        <p>
                                                <li> must be at least 16 years old and want to set up or run a business in the UK</li>
                                                <li>You must be from outside the European Economic Area (EEA) and Switzerland.</li>
                                        </p>
                                        <p><b>What do I need to apply?</b></p>
                                        <ul>
                                                <li>Investment funds: You must have evidence of either £50,000 or £200,000 in investment funds.</li>
                                                <li>Proof of English language level: You may need to pass an approved English language test with at
                                                least CEFR level B1 in reading, writing, speaking and listening OR have an academic qualification
                                                that was taught in English and is recognised by UK NARIC as being equivalent to a UK bachelor’s
                                                degree. You don’t need to prove knowledge of English if you are a national of one of these
                                                countries.</li>
                                                <li>Registration: You must register with HM Revenue &amp; Customs as self-employed, and/or must
                                                register your new business or as director of an existing business within six months of arriving in
                                                the UK or having been granted leave under this category in the UK.</li>
                                                <li>Personal funds: You must have £3,310 in personal savings if you are applying from outside the
                                                UK or £945 in personal savings if you are applying from inside the UK. These savings must have
                                                been in your bank account for 90 consecutive days. This 90-day period must end within 31 days
                                                of your application date.</li>
                                        </ul>

                                        <br>
                                        <p><b style="text-decoration: underline">Tier 1 – Graduate Entrepreneur</b></p>
                                        <p>
                                                If you’re a recent UK graduate or post-doctoral researcher with a Tier 2 visa and you have a genuine and
                                                credible business idea, you can apply to stay for one year on a Tier 1 Graduate Entrepreneur visa.
                                        </p>
                                        <p>
                                                Be aware that from 6 April 2015, it is not possible to apply for a Tier 1 Graduate Entrepeneur visa if the
                                                main purpose of your business is to engage in property development or property management.
                                        </p>
                                        <p><b>What do I need to apply?</b></p>
                                        <ul>
                                                <li>Sponsorship: There are two ways of getting endorsement:
                                                
                                                    <ul>
                                                        <li>From an authorized UK college or university (this does not have to be one where you
                                                            have already studied) issued in the last three months;</li>
                                                
                                                        <li>Take part in the Sirius Programme, which supports final-year students and recent
                                                            graduates with advice on funding and immigration.</li>
                                                    </ul>
                                                
                                                </li>
                                                
                                                <li>Education qualification: You need a UK-recognised bachelor’s degree, master’s degree or PhD
                                                awarded before your date of endorsement. Anything below this level, like a foundation degree,
                                                or that you have not studied for personally, like an honorary degree, will not be sufficient.</li>
                                                <li>Funds: Proof of £945 in savings if applying from inside the UK, or £1,890 if applying from outside
                                                the UK – you must have had this in your bank account for 90 days before you apply. This 90-day
                                                period must end within 31 days of your application date.</li>
                                                <li>Proof of English language level: You may need to pass an approved English language test with at
                                                least CEFR level B1 in reading, writing, speaking and listening, OR have an academic qualification
                                                that was taught in English and is recognised by UK NARIC as being equivalent to a UK bachelor’s
                                                degree.</li>
                                                <li>Documentation: Check the Gov.uk website to see what other documents you need for a
                                                complete application.</li>
                                        </ul>



                                        <h3 id="staybackoptions">USEFUL LINKS</h3>
                                        <ul>
                                                <li>Study in UK: https://www.britishcouncil.in/study-uk</li>
                                                <li>UK Immigration: https://www.gov.uk/check-uk-visa</li>
                                                <li>Directory of UK: http://www.4icu.org/gb/universities-united-kingdom.htm</li>
                                                <li>Minimum Wages: https://www.gov.uk/national-minimum-wage-rates</li>
                                        </ul>
                   
        
                                        <h3 id="disclaimer">DISCLAIMER</h3>
                                        <p>
                                                This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                                which information is taken from various relevant websites. It aims to answer some common questions.
                                                Visitors are recommended to contact the office for most updated information.
                                        </p>
        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="gfort-section fullwidth-section pt-0 pb-0">
            <!-- Section Container -->
            <div class="section-container">
               <!-- container -->
               <div class="container">
                  <!-- row -->
                  <div class="row">
                     <!-- col-md-12 -->
                     <div class="col-md-12">
                        <!-- Call To Action Block -->
                        <div class="cta-block cta-block-main mb-0">
                           <!-- Call To Action Block Container -->
                           <div class="cta-block-container">
                              <!-- Call To Action Block Body -->
                              <div class="cta-block-body">
                                 <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                              </div>
                              <!-- /End Call To Action Block Body -->
                              <!-- Call To Action Block Button -->
                              <div class="cta-block-btn">
                                 <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                              </div>
                              <!-- /End Call To Action Block Button -->
                            
                           </div>
                           <!-- /End Call To Action Block Container -->
                        </div>
                        <!-- /End Call To Action Block -->
                     </div>
                     <!-- /End col-md-12 -->
                  </div>
                  <!-- /End row -->
               </div>
               <!-- /End container -->
            </div>
            <!-- /End Section Container -->
         </div>
         <!-- /End gfort Section -->
                       <!-- gfort Section -->
                       <div  class="gfort-section fullwidth-section pt-0 pb-0">
                         <!-- Section Container -->
                         <div class="section-container">
                            <!-- container -->
                            <div class="container">
                               <!-- row -->
                               <div class="row">
                                  <!-- col-md-12 -->
                                  <div class="col-md-12">
                                     <!-- Call To Action Block -->
                                     <div style="background-color:white" class="cta-block  mb-0">
                                        <!-- Call To Action Block Container -->
                                        <div class="cta-block-container">
                                           <!-- Call To Action Block Button -->
                                           <div class="cta-block-btn">
                                                 <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                              </div>
                                              <!-- /End Call To Action Block Button -->
                                           <!-- Call To Action Block Body -->
                                           <div class="cta-block-body">
                                              <p>Download Our Brochure</p>
                                           </div>
                                           <!-- /End Call To Action Block Body -->
                                           
                                         
                                        </div>
                                        <!-- /End Call To Action Block Container -->
                                     </div>
                                     <!-- /End Call To Action Block -->
                                  </div>
                                  <!-- /End col-md-12 -->
                               </div>
                               <!-- /End row -->
                            </div>
                            <!-- /End container -->
                         </div>
                         <!-- /End Section Container -->
                      </div>