<!-- Page Title Section
            ==================================================================== -->
           
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
            <!-- Section Container -->
            <div class="section-container">
        
        
                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">
        
                        <h1 class="breadcrumb-main-title">Study Destinations</h1>
                        <p class="breadcrumb-subtitle">What We Provide</p>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->
        
        
                <!-- Breadcrumb Block -->
                <div class="breadcrumb-block">
                    <!-- container -->
                    <div class="container">
        
                        <ol class="breadcrumb">
                            <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">Canada</li>
                        </ol>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb block -->
        
        
            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        
        
        <div class="gfort-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                        data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                            </ul>
        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                    <div>
                                        <p>Canada is a country in the northern half of North America. Its ten provinces (Alberta,
                                                British Columbia, Manitoba, New Brunswick, Newfoundland and Labrador, Nova Scotia, Ontario, Prince
                                                Edward Island, Quebec, and Saskatchewan) and three territories (Northwest Territories, Yukon, and
                                                Nunavut)) extend from the Atlantic to the Pacific and northward into the Arctic Ocean. Canada has been
                                                ranked as one of best place to live on the globe according to the United Nations and is the second
                                                largest country in world after Russia.</p>
        
                                        <h3 id="quickFacts">QUICK FACTS</h3>
                                        <ul>
                                            <li>Capital: Ottawa</li>
                                            <li>Largest City: Toronto</li>
                                            <li>Population: 35.16 million</li>
                                            <li>Official Languages: English, French</li>
                                            <li>ISD Code: +1</li>
                                            <li>Currency: Canadian Dollar (CAD)</li>
                                            <li>Minimum Wages / Hour: $10.25</li>
                                            <li>Number of Universities: 98</li>
        
                                        </ul>
        
                                        <p>Education in Canada is for the most part provided publicly, funded and overseen by federal, provincial,
                                                and local governments</p>

        
                                        <h3 id="educationIns">FRENCH EDUCATIONAL INSTITUTIONS</h3>
                                        <ul>
        
                                                <li>K-12- Schools</li>
                                                <li>Universities &amp; Colleges</li> 
                                                <li>Community Colleges</li> 
                                                <li>Career College</li> 
                                                <li>Language schools</li>

                                  
                                        </ul>
                                        <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                        <ul>
        
                                         

                                            <li>First Professional Degree</li> 
                                            <li>Diploma</li> 
                                            <li>Associate Degrees</li> 
                                            <li>Applied Degrees</li> 
                                            <li>Bachelor’s Degree</li> 
                                            <li>Master’s Degreee</li> 
                                            <li>Doctorate</li>

        
        
        
                                        </ul>
        
                                        <h3 id="whyStudyin">WHY STUDY IN CANADA?</h3>
                                        <p>
                                                Canadian degrees, certificates, and diplomas are considered internationally equal to equivalent degrees
                                                in the U.S. and other Commonwealth countries. Canadians are serious about education, and their
                                                universities demonstrate that commitment with beautiful ultra-modern campuses. The variety of degree
                                                programs in Canada is vast, with everything from humanities to technology and health, with some very
                                                
                                                specialized environmental programs available only in the Great White North. In addition, English
                                                Language Schools and French Language Schools abound and offer a variety of side activities from skiing
                                                to camping. While the quality of education rivals the U.S. and the U.K., the costs of tuition and living are
                                                significantly lower. Over the past century and a half, Canada has welcomed 15 million immigrants.
                                                Canada is also home to over one million aboriginal people, including First Nations, Métis, and Inuit
                                                communities. Canada has a national policy for multiculturalism and works to ensure that people’s
                                                customs and traditions are preserved and respected.
                                        </p>
                                        <ul>
                                                <li>One of the top-ranked education system in the world</li>
                                                <li>Large number of prestigious universities &amp; courses to choose from</li>
                                                <li>Low Tuition Fees with semester wise payment</li>
                                                <li>A multicultural country</li>
                                                <li>Excellent health care</li>
                                                <li>Strong growing economy with large manpower shortage</li>
                                                <li> Less time and easy visa processing.</li>
                                                <li> Opportunity to gain Canadian Work experience by working part-time on- campus without a
                                                work permit and off-campus with a work permit</li>
                                                <li>Nomination for Immigration to Canada under Provincial Nominee Programs</li>
                                                <li>Post-graduate work permits upon completion of studies related to field of study</li>
                                                <li>Option for permanent residency which takes up to 15 to 18 months from within Canada</li>
                                                <li>Canada welcomes over 2 lakh immigrants per year &amp; has a policy for skilled professionals as well
                                                as Business Immigrants</li>
                                                <li>Chance to stay in Canada while your permanent resident application is in process
                                                Part time work during studies</li>
                                        </ul>
        
        
                                        <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                        <p>TOEFL or IELTS scores as a proof of English proficiency. Depending upon the institution, the score
                                                requirements may vary between 80-100 for TOEFL and 6.0 - 7.0 bands in IELTS. For MBA admission a
                                                good score in GMAT is required.</p>
        
                                        <h3 id="intakes">INTAKE </h3>
                                        <ul>
                                            <li>Jan /May /September</li>
                                        </ul>
        
                                        <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                        <ul>
                                                <li>Diploma &amp; Advanced Diploma Courses cost range from CAD$11,000 - CAD$13,000 per year
                                                depending on the course.</li>
                                                <li>Bachelor’s Degrees cost range from CAD$13,000 - CAd$19,000 per year for most under-graduate
                                                degrees</li>
                                                <li>Post-graduate Degrees cost ranges from CAD$12,000 and ranges up to CAD$22,000</li>
                                        </ul>
                                        <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                        <h3 id="costOfLiving">COST OF LIVING</h3>
                                        <p>Cost of living would be between CAD$ 8,000-12,000, depending upon the location of their residence.</p>
        
                                        <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                        <p>
                                                Students are allowed to work part time 20 hours per week on campus/off campus and full time 40 hours
                                                per week on campus/off campus during holidays while studying the course. In Canada, Minimum wages
                                                varies between 8 – 10.25 CA$ per hour depending upon the province.
                                        </p>
        
                                        <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                      <p>3 years stay back for (2 years study) or equal to the course duration if it is less than 2 years</p>
        
                                        <h3 id="staybackoptions">USEFUL LINKS</h3>
                                        <ul>
                                        
                                            <li>Study in Canada: http://www.studycanada.ca</li>
                                            <li>Canada Immigration: http://www.cic.gc.ca/english</li>
                                            <li>Directory of Canada:<br> http://www.cicdi.ca/395/<br>directory-of-universities-colleges-and-schools-in-
                                                canada.canada</li>
                                            <li>Minimum Wages:<br> http://en.wikipedia.org/wiki/<br>Minimum_wage_in_Canada</li>
                                        </ul>
                   
        
                                        <h3 id="disclaimer">DISCLAIMER</h3>
                                        <p>
                                            This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                            which information is taken from various relevant websites. It aims to answer some common questions.
                                            Visitors are recommended to contact the office for most updated information.
                                        </p>
        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="gfort-section fullwidth-section pt-0 pb-0">
            <!-- Section Container -->
            <div class="section-container">
               <!-- container -->
               <div class="container">
                  <!-- row -->
                  <div class="row">
                     <!-- col-md-12 -->
                     <div class="col-md-12">
                        <!-- Call To Action Block -->
                        <div class="cta-block cta-block-main mb-0">
                           <!-- Call To Action Block Container -->
                           <div class="cta-block-container">
                              <!-- Call To Action Block Body -->
                              <div class="cta-block-body">
                                 <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                              </div>
                              <!-- /End Call To Action Block Body -->
                              <!-- Call To Action Block Button -->
                              <div class="cta-block-btn">
                                 <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                              </div>
                              <!-- /End Call To Action Block Button -->
                            
                           </div>
                           <!-- /End Call To Action Block Container -->
                        </div>
                        <!-- /End Call To Action Block -->
                     </div>
                     <!-- /End col-md-12 -->
                  </div>
                  <!-- /End row -->
               </div>
               <!-- /End container -->
            </div>
            <!-- /End Section Container -->
         </div>
         <!-- /End gfort Section -->
                       <!-- gfort Section -->
                       <div  class="gfort-section fullwidth-section pt-0 pb-0">
                         <!-- Section Container -->
                         <div class="section-container">
                            <!-- container -->
                            <div class="container">
                               <!-- row -->
                               <div class="row">
                                  <!-- col-md-12 -->
                                  <div class="col-md-12">
                                     <!-- Call To Action Block -->
                                     <div style="background-color:white" class="cta-block  mb-0">
                                        <!-- Call To Action Block Container -->
                                        <div class="cta-block-container">
                                           <!-- Call To Action Block Button -->
                                           <div class="cta-block-btn">
                                                 <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                              </div>
                                              <!-- /End Call To Action Block Button -->
                                           <!-- Call To Action Block Body -->
                                           <div class="cta-block-body">
                                              <p>Download Our Brochure</p>
                                           </div>
                                           <!-- /End Call To Action Block Body -->
                                           
                                         
                                        </div>
                                        <!-- /End Call To Action Block Container -->
                                     </div>
                                     <!-- /End Call To Action Block -->
                                  </div>
                                  <!-- /End col-md-12 -->
                               </div>
                               <!-- /End row -->
                            </div>
                            <!-- /End container -->
                         </div>
                         <!-- /End Section Container -->
                      </div>