

            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
            <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">About US</h1>
                            <p class="breadcrumb-subtitle">Get to know us better</p>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="#" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">About us</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->
            
            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">

                        <!-- gfort Section who we are -->
                        <div class="gfort-section">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-6 -->
                                        <div class="col-md-6">


                                            <!-- Section Title -->
                                            <div class="section-title section-title-md">

                                                <h2 class="section-main-title">WHO ARE WE</h2>

                                                <div class="hr-divider hr-divider-style-1"></div>

                                            </div><!-- /End Section Title -->


                                            <!-- Text Block -->
                                            <div class="gfort-block text-block">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">

                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Content -->
                                                        <div style="text-align:justify" class="gfort-block-content">

                                                            <p style="text-align:justify">Tempus Immigration Consultants Pvt. Ltd. is a Human Resource Solutions, Immigration &amp;
                                                                Study Abroad Consultancy based in India. Whether your goal is to obtain a job or pursue
                                                                education in Abroad or to immigrate in any Country, we at Tempus understand that you
                                                                and your family will have many concerns beginning with whether you may qualify and also
                                                                about your future in abroad. Immigration laws are constantly changing to meet the
                                                                demands of the communities they protect and can be a complicated process. Our company
                                                                can guide you through the process and offer you assistance and guidance with the added
                                                                availability of post landing services.</p>

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->

                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Text Block -->


                                        </div><!-- /End col-md-6 -->


                                        <!-- col-md-6 -->
                                        <div class="col-md-6">


                                            <!-- Section Title -->
                                            <div class="section-title section-title-md">

                                                <h2 class="section-main-title">WE ARE GOOD AT</h2>

                                                <div class="hr-divider hr-divider-style-1"></div>

                                            </div><!-- /End Section Title -->


                                            <!-- Progress Block -->
                                            <div class="progress-block">
                                                <!-- Progress Block Container -->
                                                <div class="progress-block-container">

                                                    <!-- Title -->
                                                    <h6>Student Visa</h6>

                                                    <!-- Counter Block -->
                                                    <div class="counter-block">
                                                        <span class="number-block" data-to="95" data-speed="1500" data-refresh-interval="50">95</span>%
                                                    </div><!-- /End Counter Block -->

                                                    <!-- Progress -->
                                                    <div class="progress">
                                                        <div class="progress-bar"></div>
                                                    </div><!-- /End Progress -->

                                                </div><!-- /End Progress Block Container -->
                                            </div><!-- /End Progress Block -->


                                            <!-- Progress Block -->
                                            <div class="progress-block">
                                                <!-- Progress Block Container -->
                                                <div class="progress-block-container">

                                                    <!-- Title -->
                                                    <h6>Work Permit</h6>

                                                    <!-- Counter Block -->
                                                    <div class="counter-block">
                                                        <span class="number-block" data-to="95" data-speed="1500" data-refresh-interval="50">95</span>%
                                                    </div><!-- /End Counter Block -->

                                                    <!-- Progress -->
                                                    <div class="progress">
                                                        <div class="progress-bar" ></div>
                                                    </div><!-- /End Progress -->

                                                </div><!-- /End Progress Block Container -->
                                            </div><!-- /End Progress Block -->


                                            <!-- Progress Block -->
                                            <div class="progress-block">
                                                <!-- Progress Block Container -->
                                                <div class="progress-block-container">

                                                    <!-- Title -->
                                                    <h6>Permanent Residence</h6>

                                                    <!-- Counter Block -->
                                                    <div class="counter-block">
                                                        <span class="number-block" data-to="90" data-speed="1500" data-refresh-interval="50">90</span>%
                                                    </div><!-- /End Counter Block -->

                                                    <!-- Progress -->
                                                    <div class="progress">
                                                        <div class="progress-bar" ></div>
                                                    </div><!-- /End Progress -->

                                                </div><!-- /End Progress Block Container -->
                                            </div><!-- /End Progress Block -->



                                        </div><!-- /End col-md-6 -->


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->

                        <!-- gfort Section our mission-->
                        <div class="gfort-section half-section right-side-media main-background-color">


                            <!-- Half Section Media -->
                            <div class="half-section-media" style="background-image: url(../../assets/images/aboutus/003.jpg);">
                                <img class="small-screen-image" src="../../assets/images/aboutus/003.jpg" alt="Image" />
                            </div><!-- /End Half Section Media -->


                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">


                                            <!-- Section Title -->
                                            <div class="section-title light-color wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                                <h2 class="section-main-title">OUR MISSION</h2>
                                                <div class="hr-divider hr-divider-style-1"></div>
                                            </div><!-- /End Section Title -->


                                                <!-- Text Block -->
                                                <div class="gfort-block text-block">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">

                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">
                                                            <p style="text-align:justify;color:white">We have established with a mission: to provide the most excellent
                                                            counseling and satisfying process possible to aspiring clients for
                                                            immigration and abroad study. We make every effort to endow with
                                                            the right direction in guidance &amp; support to clients for determining
                                                            their future by offering the customized counseling methods. We help
                                                            customers to choose the appropriate program that would help them to
                                                            secure their future. Our focus is to build a long term business
                                                            relationship with our clients by providing the best quality services
                                                            throughout the process.</p>
                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->

                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Text Block -->



                                        </div><!-- /End col-md-12 -->


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->


                        </div><!-- /End gfort Section -->


                        <!-- gfort Section our services-->
                        <div class="gfort-section half-section left-side-media main-background-color">


                            <!-- Half Section Media -->
                            <div class="half-section-media" style="background-image: url(../../assets/images/aboutus/007.jpg);">
                                <img class="small-screen-image" src="../../assets/images/index/aboutus/007.jpg" alt="Image" />
                            </div><!-- /End Half Section Media -->


                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                <!-- row -->
                                <div class="row">


                                    <!-- col-md-12 -->
                                    <div class="col-md-12">


                                        <!-- Section Title -->
                                        <div class="section-title light-color wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                            <h2 class="section-main-title">OUR SERVICES</h2>
                                            <div class="hr-divider hr-divider-style-1"></div>
                                        </div><!-- /End Section Title -->


                                            <!-- Text Block -->
                                            <div class="gfort-block text-block">
                                            <!-- gfort Block Container -->
                                            <div class="gfort-block-container">

                                                <!-- gfort Block Body -->
                                                <div class="gfort-block-body">


                                                <div class="gfort-block-content">
                                                    <p style="text-align:justify;color:white">We are happy to serve you with our immigration experts 24/7 for in-
                                                                                    depth knowledge on immigration process in different countries. Our
                                                                                    team members are well trained, competent, sociable and always
                                                                                    prepared to facilitate the most exclusive opportunities to accomplish
                                                                                    your desires. All our products and services are intended to suit your
                                                                                    capability and ensure customer satisfaction. Our comprehensive
                                                                                    program and dedicated experts give you the best career choice and
                                                                                    compile you to obtain the advantages of processing with us. Take the
                                                                                    next step towards achieving your life goal and put down the
                                                                                    foundations for a potential future.</p>
                                                </div><!-- /End gfort Block Content -->


                                                </div><!-- /End gfort Block Body -->

                                            </div><!-- /End gfort Block Container -->
                                        </div><!-- /End Text Block -->



                                    </div><!-- /End col-md-12 -->


                                </div><!-- /End row -->
                            </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->
                        <!-- gfort Section our vission-->
                        <div class="gfort-section half-section right-side-media main-background-color">


                            <!-- Half Section Media -->
                            <div class="half-section-media" style="background-image: url(../../assets/images/aboutus/back1.jpg);">
                                <img class="small-screen-image" src="../../assets/images/aboutus/back1.jpg" alt="Image" />
                            </div><!-- /End Half Section Media -->


                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">


                                            <!-- Section Title -->
                                            <div class="section-title light-color wow fadeIn" data-wow-duration="1.5s" data-wow-delay="0.25s">
                                                <h2 class="section-main-title">OUR VISION & OBJECTIVE</h2>
                                                <div class="hr-divider hr-divider-style-1"></div>
                                            </div><!-- /End Section Title -->


                                                <!-- Text Block -->
                                                <div class="gfort-block text-block">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">

                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">
                                                            <p style="text-align:justify;color:white">Tempus has dedicated to uphold the principles of integrity, Quality Service,
                                                                Industry Creativity and Professionalism for our clients, our Staff, and our Community.
                                                                Community. Our Slogan&quot;Education, Opportunity, Life&quot; is our slogan. It appropriately
                                                                reflects our attitude and approach when providing services for our clients and customers.
                                                                and our objective is a composition of complex elements which we want to achieve in our work
                                                                i.e. customer satisfaction, best services in the industry, to hold the prominent position in
                                                                the industry.</p>
                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->

                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Text Block -->



                                        </div><!-- /End col-md-12 -->


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->


                        </div><!-- /End gfort Section -->
                        <div  class="gfort-section fullwidth-section pt-0 pb-0">
                              <!-- Section Container -->
                              <div class="section-container">
                                 <!-- container -->
                                 <div class="container">
                                    <!-- row -->
                                    <div class="row">
                                       <!-- col-md-12 -->
                                       <div class="col-md-12">
                                          <!-- Call To Action Block -->
                                          <div style="background-color:white" class="cta-block  mb-0">
                                             <!-- Call To Action Block Container -->
                                             <div class="cta-block-container">
                                                <!-- Call To Action Block Button -->
                                                <div class="cta-block-btn">
                                                      <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                                   </div>
                                                   <!-- /End Call To Action Block Button -->
                                                <!-- Call To Action Block Body -->
                                                <div class="cta-block-body">
                                                   <p>Download Our Brochure</p>
                                                </div>
                                                <!-- /End Call To Action Block Body -->
                                                
                                              
                                             </div>
                                             <!-- /End Call To Action Block Container -->
                                          </div>
                                          <!-- /End Call To Action Block -->
                                       </div>
                                       <!-- /End col-md-12 -->
                                    </div>
                                    <!-- /End row -->
                                 </div>
                                 <!-- /End container -->
                              </div>
                              <!-- /End Section Container -->
                           </div>

                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->



