
  
            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-image: url(../../assets/images/aboutus/back.jpg);">
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">Join Us</h1>
                            <p class="breadcrumb-subtitle">Current vacancies</p>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">Join Us</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->



            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">


                        <!-- gfort Section -->
                        <div class="gfort-section ">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Section Title -->
                                            <div class="section-title text-center">

                                                <h2 class="section-main-title">TEMPUS IMMIGRATION</h2>

                                                <p class="section-subtitle">This page is under construction, we will be back in.</p>

                                                <div class="hr-divider hr-divider-style-3 text-center"></div>

                                            </div><!-- /End Section Title -->
                                        </div><!-- /End col-md-12 -->


                                        <!-- col-md-6 -->
                                        <div class="col-md-6 col-md-offset-3">
                                            <!-- Progress Block -->
                                            <div class="progress-block">
                                                <!-- Progress Block Container -->
                                                <div class="progress-block-container">

                                                    <!-- Title -->
                                                    <h6>DEVELOPMENT PROGRESS</h6>

                                                    <!-- Counter Block -->
                                                    <div class="counter-block">
                                                        <span class="number-block" data-to="90" data-speed="1500" data-refresh-interval="50">90</span>%
                                                    </div><!-- /End Counter Block -->

                                                    <!-- Progress -->
                                                    <div class="progress">
                                                        <div class="progress-bar"></div>
                                                    </div><!-- /End Progress -->

                                                </div><!-- /End Progress Block Container -->
                                            </div><!-- /End Progress Block -->
                                        </div><!-- /End col-md-6 -->


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <div class="hr-divider hr-divider-style-5 text-center hr-divider-grey-color mb-60">
                                                <i class="fa fa-heart-o"></i>
                                            </div>
                                        </div><!-- /End col-md-12 -->


                              


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->



   