
            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">Settlement Assistance</h1>
                            <!-- <p class="breadcrumb-subtitle">What We Provide</p> -->

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">Settlement Assistance</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->
            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">


                        <!-- gfort Section -->
                        <div class="gfort-section ">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Section Title -->
                                            <div class="section-title text-center">

                                                <h2 class="section-main-title">Settlement Assistance</h2>

                                                <p class="section-subtitle" style="text-align: justify;">Our Settlement assistance ensure that you feel at home in your new country.  Once you have acquired your visa, whether it is a Permanent Residence visa, Student Visa, or any other type of visa, the next challenge is a smooth transition to other countries. Many of us have no contacts or very limited contacts in other countries, while some do not wish to take support from others and want to move on their own. Well, in that case, we are here to provide you with complete assistance in your initial settlement.</p>

                                                <div class="hr-divider hr-divider-style-3 text-center"></div>

                                            </div><!-- /End Section Title -->
                                        </div><!-- /End col-md-12 -->


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <div class="hr-divider hr-divider-style-5 text-center hr-divider-grey-color mb-60">
                                                <i class="fa fa-heart-o"></i>
                                            </div>
                                        </div><!-- /End col-md-12 -->


                              


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->