<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
            <!-- Section Container -->
            <div class="section-container">
        
        
                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">
        
                        <h1 class="breadcrumb-main-title">Study Destinations</h1>
                        <p class="breadcrumb-subtitle">What We Provide</p>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->
        
        
                <!-- Breadcrumb Block -->
                <div class="breadcrumb-block">
                    <!-- container -->
                    <div class="container">
        
                        <ol class="breadcrumb">
                            <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">United States of America</li>
                        </ol>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb block -->
        
        
            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        
        
        <div class="gfort-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                        data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                            </ul>
        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                    <div>
                                        <p>
                                            The United States of America, commonly referred to as the United States (U.S.) or
                                            America, is a constitutional federal republic composed of 50 states, a federal district, five major self-
                                            governing territories, and various possessions. The United States is a highly developed country, with the
                                            world&#39;s largest economy by nominal GDP. It ranks highly in several measures of socioeconomic
                                            performance, including average wage, human development, per capita GDP, and productivity per
                                            person.
                                        </p>
        
                                        <h3 id="quickFacts">QUICK FACTS</h3>
                                        <ul>
                                            <li>Capital: Washington, D.C.</li>
                                            <li>Largest City: New York</li>
                                            <li>Population: 318.9 million</li>
                                            <li>Official Languages: English</li>
                                            <li>ISD Code: +1</li>
                                            <li>Currency: United States dollar (USD)</li>
                                            <li>Minimum Wages / Hour: 7.25 USD</li>
                                            <li>Number of Universities: 98</li>
                                        </ul>
                                        <p>
                                            Education in the United States is provided by public, private, and home schools.State governments set
                                            overall educational standards, often mandate standardized tests for K–12 public school systems, and
                                            supervise, usually through a board of regents, state colleges and universities. Funding comes from the
                                            state, local, and federal government
                                        </p>


        
                                        <h3 id="educationIns">US EDUCATIONAL INSTITUTIONS</h3>
                                        <ul>
                                  
                                                <li>K-12- Schools</li>
                                                <li>Universities &amp; Colleges</li>
                                                <li>Community Colleges</li>
                                                <li>Career College</li>
                                                <li>Language schools</li>
                                             
                                        </ul>

                                        <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                        <ul>
                               
                                            <li>Associate Degrees</li>
                                            <li>Applied Degrees</li>
                                            <li>Bachelor’s Degree</li>
                                            <li>Master’s Degree</li>
                                            <li>Doctorate</li>

                                        </ul>
        
                                        <h3 id="whyStudyin">WHY STUDY IN THE US?</h3>
                                        <p>
                                                The United States has one of the world’s finest university systems, with outstanding programs in
                                                virtually all fields. At the undergraduate level, excellent programs exist in traditional disciplines, as well
                                                as in professional fields. At the graduate level, students have the opportunity to work directly with some
                                                of the finest minds in their field of study, with the chance to become involved with exclusive research
                                                and educational opportunities. U.S. degrees are recognized throughout the world for their
                                                excellence.
                                        </p>
                                        <ul>
               
                                                <li>A home to highest number of international students when compared to other countries</li>
                                                <li>A country with highest-ranked universities in the world</li>
                                                <li>On campus part time job opportunity with minimal wages.</li>
                                                <li>Leader in latest technologies with Industry based training and research.</li>
                                                <li>Strong academic &amp; social environment which fosters academic, professional and personal
                                                development of individuals.</li>
                                                <li>US education system offers a kind of flexibility in terms of the courses that are offered, which
                                                enables students select their choice of subject from a variety of topics</li>
                                                <li>Most universities provide financial aid in terms of loans and stipends to cover their daily
                                                expenses as well as tuition in some cases</li>
                                                <li>Quality education is imparted to students by an expertly trained faculty</li>
                                                <li>Many opportunities to gain practical, career-related experience during studies</li>
                                                <li>USA universities offer a wide choice of academic, cultural and athletic activities</li>

                                        </ul>
        
        
                                        <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                        <ul>
                                            <li>IELTS, TOEFL scores as proof of English language skills for admission to any course.</li>
                                            <li>Graduate Record Examination (GRE) - For entry in to Graduate Programs</li>
                                            <li>Graduate Management Admission Test (GMAT) is required for admission to MBA and other
                                            management programs.</li>
                                            <li>Scholastic Aptitude Test (SAT) is required for admission in to bachelor level courses</li>
                                            <li>Law and Medical schools usually require different exams like LSAT and MCAT</li>
                                        </ul>
                                  
                                     
        
                                        <h3 id="intakes">INTAKE </h3>
                                        <ul>
                                            <li>Jan /September</li>
                                        </ul>
        
                                        <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                        <p>
                                                Average tuition fees per year range from $15,000 to $25,000 (Private Institutions) and $10,000 to
                                                $20,000 (State Institutions)
                                        </p>

                                        <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                        <h3 id="costOfLiving">COST OF LIVING</h3>
                                        <p>
                                            Cost of living would be between CAD$ 8,000-12,000, depending upon the location of their residence.
                                        </p>
        
                                        <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                        <p>
                                                Students are allowed to work part time 20 hours per week on campus and full time 40 hours per week
                                                on campus during holidays while studying the course. Minimum students can earn by working in campus
                                                is 7.25 USD per hour.
                                        </p>
        
                                        <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                        <p>
                                                12 months optional practical training 17 months’ extension for STEM Majors
                                        </p>
        
                                        <h3 id="staybackoptions">USEFUL LINKS</h3>
                                        <ul>
                                               
                                                <li>Immigration US: https://www.uscis.gov/</li>
                                                <li>US Government information: www.usa.gov</li>
                                                <li>Study in US: http://profiles.studyusa.com</li>
                                                <li>US higher Education: http://educationusa.state.gov</li>

                                        </ul>
                   
        
                                        <h3 id="disclaimer">DISCLAIMER</h3>
                                        <p>
                                                This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                                which information is taken from various relevant websites. It aims to answer some common questions.
                                                Visitors are recommended to contact the office for most updated information.
                                        </p>
        
                                    </div>
                                </div>
        
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="gfort-section fullwidth-section pt-0 pb-0">
            <!-- Section Container -->
            <div class="section-container">
               <!-- container -->
               <div class="container">
                  <!-- row -->
                  <div class="row">
                     <!-- col-md-12 -->
                     <div class="col-md-12">
                        <!-- Call To Action Block -->
                        <div class="cta-block cta-block-main mb-0">
                           <!-- Call To Action Block Container -->
                           <div class="cta-block-container">
                              <!-- Call To Action Block Body -->
                              <div class="cta-block-body">
                                 <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                              </div>
                              <!-- /End Call To Action Block Body -->
                              <!-- Call To Action Block Button -->
                              <div class="cta-block-btn">
                                 <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                              </div>
                              <!-- /End Call To Action Block Button -->
                            
                           </div>
                           <!-- /End Call To Action Block Container -->
                        </div>
                        <!-- /End Call To Action Block -->
                     </div>
                     <!-- /End col-md-12 -->
                  </div>
                  <!-- /End row -->
               </div>
               <!-- /End container -->
            </div>
            <!-- /End Section Container -->
         </div>
         <!-- /End gfort Section -->
                       <!-- gfort Section -->
                       <div  class="gfort-section fullwidth-section pt-0 pb-0">
                         <!-- Section Container -->
                         <div class="section-container">
                            <!-- container -->
                            <div class="container">
                               <!-- row -->
                               <div class="row">
                                  <!-- col-md-12 -->
                                  <div class="col-md-12">
                                     <!-- Call To Action Block -->
                                     <div style="background-color:white" class="cta-block  mb-0">
                                        <!-- Call To Action Block Container -->
                                        <div class="cta-block-container">
                                           <!-- Call To Action Block Button -->
                                           <div class="cta-block-btn">
                                                 <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                              </div>
                                              <!-- /End Call To Action Block Button -->
                                           <!-- Call To Action Block Body -->
                                           <div class="cta-block-body">
                                              <p>Download Our Brochure</p>
                                           </div>
                                           <!-- /End Call To Action Block Body -->
                                           
                                         
                                        </div>
                                        <!-- /End Call To Action Block Container -->
                                     </div>
                                     <!-- /End Call To Action Block -->
                                  </div>
                                  <!-- /End col-md-12 -->
                               </div>
                               <!-- /End row -->
                            </div>
                            <!-- /End container -->
                         </div>
                         <!-- /End Section Container -->
                      </div>