<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
            <!-- Section Container -->
            <div class="section-container">
        
        
                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">
        
                        <h1 class="breadcrumb-main-title">Study Destinations</h1>
                        <p class="breadcrumb-subtitle">What We Provide</p>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->
        
        
                <!-- Breadcrumb Block -->
                <div class="breadcrumb-block">
                    <!-- container -->
                    <div class="container">
        
                        <ol class="breadcrumb">
                            <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">Ireland</li>
                        </ol>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb block -->
        
        
            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        
        
        <div class="gfort-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                        data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                            </ul>
        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                    <div>
                                        <p>
                                            Ireland is an island in the North Atlantic. Ireland is the second-largest island of the British
                                            Isles, the third-largest in Europe, and the twentieth-largest on Earth. Politically, Ireland is divided
                                            between the Republic of Ireland (officially named Ireland), which covers five-sixths of the island, and
                                            Northern Ireland, which is part of the United Kingdom, in the northeast of the island. Ireland is the
                                            second-most populous island in Europe after Great Britain. Irish culture has had a significant influence
                                            on other cultures, especially in the fields of literature. Alongside mainstream Western culture, a strong
                                            indigenous culture exists, as expressed through Gaelic games, Irish music, and the Irish language. The
                                            culture of the island also shares many features with that of Great Britain, including the English language,
                                            and sports such as association football, rugby, horse racing, and golf.
                                        </p>
        
                                        <h3 id="quickFacts">QUICK FACTS</h3>
                                        <ul>
                                            <li>Capital: Dublin</li>
                                            <li>Largest City: Dublin</li>
                                            <li>Population: 4.595 million</li>
                                            <li>Official Languages: English, Irish</li>
                                            <li>ISD Code: +353</li>
                                            <li>Currency: Euro</li>
                                            <li>Minimum Wages / Hour: €9.15</li>
                                            <li>Number of Universities: 9</li>

        
                                        </ul>
        
                                        <p>Education in Canada is for the most part provided publicly, funded and overseen by federal, provincial,
                                                and local governments</p>

        
                                        <h3 id="educationIns">IRELAND EDUCATIONAL INSTITUTIONS</h3>
                                        <ul>
        
                                                <li>Universities<br>
                                                    Nine universities - Offering degrees at Bachelor’s, Master’s and Doctorate level programmes
                                                </li>
                                                <li>Institutes of Technology<br>
                                                    14 Institutes of Technology offering programs at degree, national diploma and national
                                                    certificate levels in a wide variety of subjects.
                                                </li> 
                                                <li>Colleges of Education<br>
                                                    Five Colleges of Education for primary school teachers. They offer three year full time courses
                                                    leading to a B.Ed. degree which is the recognized qualification for primary school teaching.
                                                </li> 
                                                <li>Independent Third Level Colleges
                                                        Colleges offering programmes leading to certificates, diplomas and degrees, recognised by
                                                        Irelands national certification authority or an accrediting university.
                                                </li> 
                                  
                                        </ul>
                                        <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                        <ul>
        
                                         

                                            <li>Diploma</li> 
                                        
                                            <li>Bachelor’s Degree</li> 
                                            <li>Master’s Degreee</li> 
                                            <li>Doctorate</li>

        
        
        
                                        </ul>
        
                                        <h3 id="whyStudyin">WHY STUDY IN IRELAND?</h3>
                                        <p>
                                                Despite being an island nation, Ireland is jam-packed with things that make it a popular destination for
                                                students studying abroad. The Irish place a strong value on education, which is reflected in the country’s
                                                outstanding colleges and universities and its reputation for academic excellence. Ireland has produced
                                                four Nobel Laureates in Literature, and its remarkable history is evident and celebrated throughout the
                                                country. Dublin, the country’s capital, is lively and vibrant and is at the center of the Irish economy.
                                        </p>
                                        <ul>
                                                <li>Irish Education Is Of The Highest Quality</li>
                                                <li>Qualifications Offered Are Internationally Recognized</li>
                                                <li>Institutions Provide Various Supporting Learning Environment</li>
                                                <li>Ireland Has A Young Vibrant Population</li>
                                                <li>Small, Safe And Friendly Country With Mild Climate</li>
                                                <li>English-Speaking Country With Unique Cultural Heritage</li>
                                                <li>Recognized As An International Location For High Quality Scientific Research</li>
                                                <li>A Country With Lowest Unemployment Rate In Europe</li>
                                                <li>Education Was A Key Factor In Making Ireland One Of The Fastest Growing Economies In The
                                                World Over The Past Decade</li>
                                                <li>Country Offers Sandwich Courses (The Course Contain Paid Job Placement), Which Help
                                                Students To ‘Earn While They Learn’.</li>
                                                <li>Stay Back Options With Eligibility For Green Card/Work Permit On Gaining Employment</li>
                                        </ul>
        
        
                                        <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                        <p>IELTS or TOEFL scores as a proof of English Proficiency.</p>
                                        <ul>
                                                <li> Diploma programs: IELTS Overall band score of 5.5 &amp; TOEFL: 75</li>
                                                <li> Bachelor’s Degree: Overall band score of 6.0 &amp; TOEFL: 80</li>
                                                <li>Masters Programs: Overall band score of 6.0 &amp; TOEFL: 80</li>
                                        </ul>
        
                                        <h3 id="intakes">INTAKE </h3>
                                        <ul>
                                            <li>Jan /September</li>
                                        </ul>
        
                                        <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                        <ul>
                                        
                                            <li>Undergraduate Course<br>
                                                Engineering €9,100 - €20,300<br>
                                                Science &amp; Technology €9,100 - €16,500<br>
                                                Arts &amp; Humanities €9,100 - €15,500<br>
                                                Business €9,000 - €15,500<br>
                                            </li>
                                        
                                            <li>Master’s Course<br>
                                        
                                                Engineering €9,150 - €18,000<br>
                                                Science &amp; Technology €9,150 - €18,000<br>
                                                Arts &amp; Humanities €8,900 - €20,000<br>
                                                Business €9,150 - €18,800<br>
                                            </li>
                                        </ul>
                                        <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                        <h3 id="costOfLiving">COST OF LIVING</h3>
                                        <p>
                                                Around €7000 per annum.
                                        </p>
        
                                        <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                        <p>
                                                Students are allowed to work 40 hours per week only during the months of May, June, July and August
                                                and from 15th December to 15th January inclusive. At all other times they will be limited to working 20
                                                hours per week.
                                        </p>
        
                                        <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                        <p>
                                                One Year Permission to seek employment under the Third Level Graduate Scheme Permission
                                        </p>
        
                                        <h3 id="staybackoptions">USEFUL LINKS</h3>
                                        <ul>
                                   
                                            <li>Government Of Ireland: www.gov.Ie/en</li>
                                            <li>Embassy Of Ireland : www.dfa.Ie</li>
                                            <li>Education In Ireland: Http://www.educationinireland.com</li>

                                        </ul>
                   
        
                                        <h3 id="disclaimer">DISCLAIMER</h3>
                                        <p>
                                                This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                                which information is taken from various relevant websites. It aims to answer some common questions.
                                                Visitors are recommended to contact the office for most updated information.
                                        </p>
        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="gfort-section fullwidth-section pt-0 pb-0">
            <!-- Section Container -->
            <div class="section-container">
               <!-- container -->
               <div class="container">
                  <!-- row -->
                  <div class="row">
                     <!-- col-md-12 -->
                     <div class="col-md-12">
                        <!-- Call To Action Block -->
                        <div class="cta-block cta-block-main mb-0">
                           <!-- Call To Action Block Container -->
                           <div class="cta-block-container">
                              <!-- Call To Action Block Body -->
                              <div class="cta-block-body">
                                 <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                              </div>
                              <!-- /End Call To Action Block Body -->
                              <!-- Call To Action Block Button -->
                              <div class="cta-block-btn">
                                 <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                              </div>
                              <!-- /End Call To Action Block Button -->
                            
                           </div>
                           <!-- /End Call To Action Block Container -->
                        </div>
                        <!-- /End Call To Action Block -->
                     </div>
                     <!-- /End col-md-12 -->
                  </div>
                  <!-- /End row -->
               </div>
               <!-- /End container -->
            </div>
            <!-- /End Section Container -->
         </div>
         <!-- /End gfort Section -->
                       <!-- gfort Section -->
                       <div  class="gfort-section fullwidth-section pt-0 pb-0">
                         <!-- Section Container -->
                         <div class="section-container">
                            <!-- container -->
                            <div class="container">
                               <!-- row -->
                               <div class="row">
                                  <!-- col-md-12 -->
                                  <div class="col-md-12">
                                     <!-- Call To Action Block -->
                                     <div style="background-color:white" class="cta-block  mb-0">
                                        <!-- Call To Action Block Container -->
                                        <div class="cta-block-container">
                                           <!-- Call To Action Block Button -->
                                           <div class="cta-block-btn">
                                                 <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                              </div>
                                              <!-- /End Call To Action Block Button -->
                                           <!-- Call To Action Block Body -->
                                           <div class="cta-block-body">
                                              <p>Download Our Brochure</p>
                                           </div>
                                           <!-- /End Call To Action Block Body -->
                                           
                                         
                                        </div>
                                        <!-- /End Call To Action Block Container -->
                                     </div>
                                     <!-- /End Call To Action Block -->
                                  </div>
                                  <!-- /End col-md-12 -->
                               </div>
                               <!-- /End row -->
                            </div>
                            <!-- /End container -->
                         </div>
                         <!-- /End Section Container -->
                      </div>