
            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">LOAN ASSISTANCE</h1>
                            <!-- <p class="breadcrumb-subtitle">What We Provide</p> -->

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">Loan Assistance</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->
            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">


                        <!-- gfort Section -->
                        <div class="gfort-section ">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Section Title -->
                                            <div class="section-title text-center">

                                                <h2 class="section-main-title">LOAN ASSISTANCE</h2>

                                                <p class="section-subtitle"  style="text-align: justify;">Our services include Bank loan assistance, ranging from loan application to documentation to liaison with private and national banks to ensure you have a hassle-free education loan to meet tuition and living expenses overseas. It is often observed that many fails in the attempt to get loans, not because they are ineligible but simply because they are not properly guided. This is where our bank loan assistance comes in handy. We offer credible advice, and end-to-end assistance in education loans. We have close tie ups with banks who readily offer loans to students who plan to study abroad.</p>

                                                <div class="hr-divider hr-divider-style-3 text-center"></div>
                                                <div class="main-content">
                                                    <!-- Main Content Container -->
                                                    <div class="main-content-container">
                                                        <div class="gfort-section">
                                                            <!-- Section Container -->
                                                            <div class="section-container">
                                                                <!-- container -->
                                                                <div class="container">
                                                                    <!-- row -->
                                                                    <div class="row">                               
                                
                                                                        <!-- col-md-12 -->
                                                                        <div class="col-md-12">
                                                           
                                                                            <!-- Text Block -->
                                                                            <div class="gfort-block text-block">
                                                                                <!-- gfort Block Container -->
                                                                                <div class="gfort-block-container">
                                
                                                                                    <!-- gfort Block Body -->
                                                                                    <div class="gfort-block-body">
                                
                                
                                                                                        <!-- gfort Block Title -->
                                                                                        <div class="gfort-block-title">
                                                                                            <h4>The eligibility criteria of the bank to obtain an educational loan from any bank of India</h4>
                                                                                            <hr>
                                                                                            <ul>
                                                                                                <li style="text-align: start;">The student seeking educational loan should be Indian national.</li>
                                                                                                <li style="text-align: start;">The student should have secured admission to professional/ technical course through entrance test /selection program.</li>
                                                                                                <li style="text-align: start;">The student should have secured admission to foreign university/institution.</li>
                                                                                            </ul>
                                                                                        </div><!-- /End gfort Block Title -->            
                                                                                    </div><!-- /End gfort Block Body -->
                                
                                                                                </div><!-- /End gfort Block Container -->
                                                                            </div><!-- /End Text Block -->
                                                                            <!-- Text Block -->
                                                                            <div class="gfort-block text-block">
                                                                                <!-- gfort Block Container -->
                                                                                <div class="gfort-block-container">
                                
                                                                                    <!-- gfort Block Body -->
                                                                                    <div class="gfort-block-body">
                                
                                
                                                                                        <!-- gfort Block Title -->
                                                                                        <div class="gfort-block-title">
                                                                                            <br>
                                                                                            <h4>Documents needs to furnish</h4>
                                                                                            <hr>
                                                                                            <ul >
                                                                                                <li style="text-align: start;">Mark sheets of the last qualifying examination for school and graduate studies in India.</li>
                                                                                                <li style="text-align: start;">Proof of admission to the course.</li>
                                                                                                <li style="text-align: start;">Scheduling of expenses to the course.</li>
                                                                                                <li style="text-align: start;">Copies of letter confirming the scholarship.</li>
                                                                                                <li style="text-align: start;">Copies of foreign exchange permit, if applicable.</li>
                                                                                                <li style="text-align: start;">Two passport size photographs.</li>
                                                                                                <li style="text-align: start;">Bank statement for the last six months of the borrower.</li>
                                                                                                <li style="text-align: start;">Income tax assessment order not more than two years.</li>
                                                                                                <li style="text-align: start;">Brief statements of assets and liabilities of the borrower.</li>
                                                                                                <li style="text-align: start;">If you are not an existing bank customer you would need to establish your identity and give proof of residence.</li>
                                                                                            </ul>
                                                                                        </div><!-- /End gfort Block Title -->                                
                                
                                                                                    </div><!-- /End gfort Block Body -->
                                
                                                                                </div><!-- /End gfort Block Container -->
                                                                            </div><!-- /End Text Block -->
                                
                                
                                                                        </div><!-- /End col-md-12 -->
                                
                                
                                                                    </div><!-- /End row -->
                                                                </div><!-- /End container -->
                                                            </div><!-- /End Section Container -->
                                                        </div><!-- /End gfort Section -->          
                                
                                                    </div><!-- /End Main Content Container -->
                                                </div><!-- /End Main Content -->  

                                            </div><!-- /End Section Title -->
                                        </div><!-- /End col-md-12 -->


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <div class="hr-divider hr-divider-style-5 text-center hr-divider-grey-color mb-60">
                                                <i class="fa fa-heart-o"></i>
                                            </div>
                                        </div><!-- /End col-md-12 -->


                              


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->