
            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
               <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> --><!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">Study Destinations</h1>
                            <p class="breadcrumb-subtitle">What We Provide</p>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="#" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">Australia</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->

      
            <div class="gfort-section">
                  <div class="container">
                        <div class="row">
                          <div class="col-md-12"> 
                            <!-- Nav tabs -->
                            <div class="card">
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab" data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                              </ul>
                              
                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                  <div>
                                    <p>Australia officially the Commonwealth of Australia, is a country comprising the mainland of
                                         the Australian continent, the island of Tasmania and numerous smaller islands. It is the world&#39;s sixth-
                                         largest country by total area. Australia has the world&#39;s 13th-largest economy and ninth-highest per
                                         capita income (IMF). With the second-highest human development index globally, the country ranks
                                         highly in quality of life, health, education, economic freedom, and civil liberties and political rights.
                                         Australia is a member of the United Nations, G20, Commonwealth of Nations, ANZUS, Organization for
                                         Economic Co-operation and Development (OECD), World Trade Organization, Asia-Pacific Economic
                                         Cooperation, and the Pacific Islands Forum.</p>
                 
                                    <h3 id="quickFacts">QUICK FACTS</h3>
                                    <ul>
                                       <li>Capital: Canberra</li>
                                       <li>Largest City: Sydney</li>
                                       <li>Population: 22.68 million</li>
                                       <li>Official Languages: English</li>
                                       <li>ISD Code: +61</li>
                                       <li>Currency: Australian Dollar (AUD)</li>
                                       <li>Minimum Wages / Hour: $14</li>
                                       <li>Number of Universities: 39</li>
                                    </ul>
        
                                    <p>Regulation and funding of education is primarily the responsibility of the States and territories, but the
                                         Federal Government also plays a funding role</p>
                                    
                                   <h3 id="educationIns">AUSTRALIAN EDUCATIONAL INSTITUTIONS</h3>
                                   <ul>
                                      <li> Universities - Offering Graduate, Certificate, Graduate Diploma, Masters and PhD.</li>
                                      <li>Vocational institutions -Both government and private funded closely linked with various
                                         industries offering highly practical and skill-based courses.</li>
                                      <li> Schools- Both government and private funded</li>
                                   </ul>
        
                                   <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                   <ul>
                                        <li>Certificate</li> 
                                        <li>Diploma</li> 
                                        <li>Associate Diploma</li> 
                                        <li>Associate Degree</li> 
                                        <li>Bachelor’s Degree</li> 
                                         <li>Graduate Certificate</li> 
                                         <li>Graduate Diploma</li> 
                                         <li>Bachelor Honours Degree</li> 
                                         <li>Master’s Degree</li> 
                                         <li>Doctorate</li> 
        
                                   </ul>
        
                                    <h3 id="whyStudyin">WHY STUDY IN AUSTRALIA?</h3>
                                    <p>Australia is currently the third most popular destination for international students in the English-
                                         speaking world, behind the United States and the UK. Many international students choose to study
                                         there because of the cultural diversity, friendly natives, and high quality of education. Schools and
                                         employers all over the world recognize degrees from Australian schools. Graduates from Australian
                                         schools are highly sought after due to the impressive international reputation of the Australian
                                         education system. This system is carefully regulated by the Australian government in order to maintain
                                         the high standards of education associated with the country. One of the most appealing aspect of the
                                         country for international students is the quality of scientific research. Australia is at the forefront of new
                                         technology and innovations. Students who study in Australia can take advantage the country’s
                                         impressive technology and research resources.</p>
                                   <ul>
                                      <li>International reputation for excellence in all areas of education and training.</li>
                                      <li>Australian qualifications are recognized by employers and leading educational institutions in
                                         many countries around the world.</li>
                                      <li>Institutions offers industry oriented courses</li>
                                      <li>One of the highest standards of living in the world</li>
                                      <li>Excellent Weather suitable for Indian students</li>
                                      <li>Research focused &amp; technology driven education</li>
                                      <li>Attractive scholarships and bursaries</li>
                                      <li>Safe, multicultural, tolerant, friendly and harmonious society.</li>
                                      <li>Opportunities to explore job &amp; PR prospects</li>
                                      <li>Options for married students to take their spouses with fulltime work rights.</li>
                                      <li>Ample opportunities to work while studying</li>
                                   </ul>
        
                                
                                   <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                   <ul>
                                   
                                      <li>TOEFL: Test of English as a Foreign Language (TOEFL)</li>
                                      <li> IELTS: International English Language Testing System</li>
                                      <li>PTE: Pearson Test of English (Academic)</li>
                                      <li> Cambridge English: Advanced (Certificate in Advanced English)</li>
                                      <li> ​Occupational English Test</li>
                                   </ul>
        
                                    <h3 id="intakes">INTAKE </h3>
                                    <ul>
                                       <li>Feb /July</li>
                                    </ul>
        
                                   <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                   <ul>
                                      <li>Diploma &amp; Advanced Diploma: AU$10,000 to 14,000/-</li>
                                      <li>Bachelor’s Degree: AU$: 15,000 to 19,000 per year</li>
                                      <li>Graduate Diplomas &amp; Masters: AU$15,000/- to AU$23,000/-</li>
                                   </ul>
                                   <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                   <h3 id="costOfLiving">COST OF LIVING</h3>
                                   <ul>
                                   
                                      <li>Living (Applicant) - 18,610.00 AUD per year</li>
                                      <li>Living (Spouse) - 6,300 .00 AUD per year</li>
                                      <li>Living (Child I) - 3,600.00 AUD per year</li>
                                      <li>Living (Child II) - 2,700.00 AUD per year</li>
                                   
                                   </ul>
                                    <p>*As per the Australia High Commission visa guidelines.</p>
        
                                    <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                    <p>Students are allowed to work part time 20 hours per week and full time 40 hours per week during
                                         holidays while studying the course. In Australia, Minimum wage is AU$14</p>
        
                                    <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                    <ul>
                                       <li> Bachelors 2 years stay back </li>
                                       <li> Masters by course work 2 years can be extended by 2 years </li>
                                       <li> 
                                            Masters by research (3 years) up to 3 years &amp;PhD students: up to 4 years </li>
                                    </ul>
                                    <div>
                                    <h3 id="staybackoptions">USEFUL LINKS</h3>
                                    <ul>
                                         <li>Know Australia: http://www.australia.gov.au/</li>
                                         <li >Education Australia: http://www.studyinaustralia.gov.au/global/why-australia</li>
                                         <li >Information about Student Visa: www.immi.gov.au/students/students/chooser</li>
                                         <li>Australian Education Providers: http://cricos.deewr.gov.au</li>
                                    </ul>
                                    </div>
        
        
                                    <h3 id="disclaimer">DISCLAIMER</h3>
                                    <p>This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                         which information is taken from various relevant websites. It aims to answer some common questions.
                                         Visitors are recommended to contact the office for most updated information.</p>
        
                                 </div>
                                </div>
          
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
            </div>
            <div class="gfort-section fullwidth-section pt-0 pb-0">
               <!-- Section Container -->
               <div class="section-container">
                  <!-- container -->
                  <div class="container">
                     <!-- row -->
                     <div class="row">
                        <!-- col-md-12 -->
                        <div class="col-md-12">
                           <!-- Call To Action Block -->
                           <div class="cta-block cta-block-main mb-0">
                              <!-- Call To Action Block Container -->
                              <div class="cta-block-container">
                                 <!-- Call To Action Block Body -->
                                 <div class="cta-block-body">
                                    <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                                 </div>
                                 <!-- /End Call To Action Block Body -->
                                 <!-- Call To Action Block Button -->
                                 <div class="cta-block-btn">
                                    <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                                 </div>
                                 <!-- /End Call To Action Block Button -->
                               
                              </div>
                              <!-- /End Call To Action Block Container -->
                           </div>
                           <!-- /End Call To Action Block -->
                        </div>
                        <!-- /End col-md-12 -->
                     </div>
                     <!-- /End row -->
                  </div>
                  <!-- /End container -->
               </div>
               <!-- /End Section Container -->
            </div>
            <!-- /End gfort Section -->
                          <!-- gfort Section -->
                          <div  class="gfort-section fullwidth-section pt-0 pb-0">
                            <!-- Section Container -->
                            <div class="section-container">
                               <!-- container -->
                               <div class="container">
                                  <!-- row -->
                                  <div class="row">
                                     <!-- col-md-12 -->
                                     <div class="col-md-12">
                                        <!-- Call To Action Block -->
                                        <div style="background-color:white" class="cta-block  mb-0">
                                           <!-- Call To Action Block Container -->
                                           <div class="cta-block-container">
                                              <!-- Call To Action Block Button -->
                                              <div class="cta-block-btn">
                                                    <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                                 </div>
                                                 <!-- /End Call To Action Block Button -->
                                              <!-- Call To Action Block Body -->
                                              <div class="cta-block-body">
                                                 <p>Download Our Brochure</p>
                                              </div>
                                              <!-- /End Call To Action Block Body -->
                                              
                                            
                                           </div>
                                           <!-- /End Call To Action Block Container -->
                                        </div>
                                        <!-- /End Call To Action Block -->
                                     </div>
                                     <!-- /End col-md-12 -->
                                  </div>
                                  <!-- /End row -->
                               </div>
                               <!-- /End container -->
                            </div>
                            <!-- /End Section Container -->
                         </div>
            

            