<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
            <!-- Section Container -->
            <div class="section-container">
        
        
                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">
        
                        <h1 class="breadcrumb-main-title">Study Destinations</h1>
                        <p class="breadcrumb-subtitle">What We Provide</p>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->
        
        
                <!-- Breadcrumb Block -->
                <div class="breadcrumb-block">
                    <!-- container -->
                    <div class="container">
        
                        <ol class="breadcrumb">
                            <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">South Korea</li>
                        </ol>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb block -->
        
        
            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        
        
        <div class="gfort-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                        data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                            </ul>
        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                    <div>
                                        <p>
                                                South Korea, officially the Republic of Korea, is a sovereign state in East Asia, constituting
                                                the southern part of the Korean Peninsula. South Korea is East Asia&#39;s most developed country in the
                                                Human Development Index. Driven by a highly educated and skilled workforce, it has the world&#39;s eighth
                                                highest median household income, the highest in Asia, and its singles in particular earn more than all G7
                                                nations. Globally, it ranks highly in personal safety, job security, ease of doing business and healthcare
                                                quality, with the world&#39;s third highest health adjusted life expectancy and fourth most efficient
                                                healthcare system. It is the world&#39;s largest spender on R&amp;D per GDP, leading the OECD in graduates in
                                                science and engineering and ranking third in the Youth Wellbeing Index.
                                        </p>
        
                                        <h3 id="quickFacts">QUICK FACTS</h3>
                                        <ul>
                                            <li>Capital: Seoul</li>
                                            <li>Largest City: Seoul</li>
                                            <li>Population: 50.22 million</li>
                                            <li>Official Languages: Korean, English</li>
                                            <li>ISD Code: +82</li>
                                            <li>Currency: South Korean Won</li>
                                            <li>Minimum Wages / Hour: US$5.25</li>
                                            <li>Number of Universities: 222</li>

                                        </ul>
                                        <p>Education in South Korea is provided by both public schools and private schools. Both types of schools
                                                receive funding from the government,</p>


        
                                        <h3 id="educationIns">SOUTH KOREAN EDUCATIONAL INSTITUTIONS</h3>
                                        <ul>
                                                <li>Colleges and universities</li>
                                                <li>Industrial universities</li>
                                                <li>Universities of education</li>
                                                <li>Junior colleges</li>
                                                <li>Broadcast and correspondence universities</li>
                                                <li>Technical colleges</li>
                                                <li>Other miscellaneous institutions</li>
                                        </ul>

                                        <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                        <ul>
                                               <li>Diploma</li>
                                               <li>Associate Degrees</li>
                                               <li>Bachelor’s Degree</li>
                                               <li>Master’s Degree</li>
                                               <li>Doctorate</li>
                                        </ul>
        
                                        <h3 id="whyStudyin">WHY STUDY IN NEW SOUTH KOREA?</h3>
                                        <p>
                                                The competitive strength of education in South Korea depends on implementation of advanced
                                                technologies, low tuition, and prospects to get challenging and promising qualification degrees.
                                                More importantly, the country is reputed for its traditions and special culture with a variety of cultural
                                                heritage and architectural assets remained till now. Thus, international students are apt to get solid
                                                education and learn customs and life manners in South Korea at first hand. They get the chance to see
                                                the well-adjusted blend of traditions and advances that go forward at a high pulse.
                                                The English language is the principal language of study almost at all national universities though
                                                international students might prefer Korean. Each university sets English language courses for various
                                                levels of proficiency. This helps students apply for programmes that are most necessitated and
                                                supportive to have a good command of the language that is required to be enrolled to the university.
                                                The English language proficiency certificate is kind of start-up to enter the tertiary education institution
                                                in South Korea.
                                        </p>
                                        <ul>
               
                                                <li>Highly competent education system</li>
                                                <li>Hundreds of top academic programs offered</li>
                                                <li>Low tuition and living cost, compared to most developed countries</li>
                                                <li>Relatively easy visa processing</li>
                                                <li>Excellent part time study opportunities and stay back options</li>
                                                <li>Excellent post study job avenues</li>
                                                <li>Asia’s fourth largest economy</li>
                                                <li>In the forefront of information and communication technology</li>
                                                <li>One of the highest standards of living in the world</li>
                                                <li>World’s leading international finance centre</li>

                                        </ul>
        
        
                                        <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                        <p>
                                                TOEFL or IELTS scores as a proof of English proficiency. Depending upon the institution, the score
                                                requirements may vary between 80-100 for TOEFL and 5.5 - 7.0 bands in IELTS. For MBA admission a
                                                good score in GMAT is required.
                                        </p>
                                  
                                     
        
                                        <h3 id="intakes">INTAKE </h3>
                                        <ul>
                                            <li>Jan /May /September</li>
                                        </ul>
        
                                        <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                        <p>
                                                The tuition fee for domestic &amp; international students are the same which costs around 3.5 to 4lacs per
                                                year.
                                        </p>

                                        <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                        <h3 id="costOfLiving">COST OF LIVING</h3>
                                        <p>
                                                Cost of living would be between US$ 3,000-7,000, depending upon the location of their residence.
residence.
                                        </p>
        
                                        <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                        <p>
                                            Students are allowed to work part time 20 hours per week and full time during holidays while studying
                                            the course. In Canada, Minimum wages varies between 5 – 10 US$ per hour depending upon the area.
                                        </p>
        
                                        <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                        <p>
                                                2 years stay back
                                        </p>
        
                                        <h3 id="staybackoptions">USEFUL LINKS</h3>
                                        <ul>
                                                <li>Study in South Korea: <br>www.studyinkorea.go.kr<br>/en/main.do</li>
                                                <li>South Korea Immigration:<br>www.immigration.go.kr</li>
                                        </ul>
                   
        
                                        <h3 id="disclaimer">DISCLAIMER</h3>
                                        <p>
                                                This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                                which information is taken from various relevant websites. It aims to answer some common questions.
                                                Visitors are recommended to contact the office for most updated information.
                                        </p>
        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="gfort-section fullwidth-section pt-0 pb-0">
            <!-- Section Container -->
            <div class="section-container">
               <!-- container -->
               <div class="container">
                  <!-- row -->
                  <div class="row">
                     <!-- col-md-12 -->
                     <div class="col-md-12">
                        <!-- Call To Action Block -->
                        <div class="cta-block cta-block-main mb-0">
                           <!-- Call To Action Block Container -->
                           <div class="cta-block-container">
                              <!-- Call To Action Block Body -->
                              <div class="cta-block-body">
                                 <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                              </div>
                              <!-- /End Call To Action Block Body -->
                              <!-- Call To Action Block Button -->
                              <div class="cta-block-btn">
                                 <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                              </div>
                              <!-- /End Call To Action Block Button -->
                            
                           </div>
                           <!-- /End Call To Action Block Container -->
                        </div>
                        <!-- /End Call To Action Block -->
                     </div>
                     <!-- /End col-md-12 -->
                  </div>
                  <!-- /End row -->
               </div>
               <!-- /End container -->
            </div>
            <!-- /End Section Container -->
         </div>
         <!-- /End gfort Section -->
                       <!-- gfort Section -->
                       <div  class="gfort-section fullwidth-section pt-0 pb-0">
                         <!-- Section Container -->
                         <div class="section-container">
                            <!-- container -->
                            <div class="container">
                               <!-- row -->
                               <div class="row">
                                  <!-- col-md-12 -->
                                  <div class="col-md-12">
                                     <!-- Call To Action Block -->
                                     <div style="background-color:white" class="cta-block  mb-0">
                                        <!-- Call To Action Block Container -->
                                        <div class="cta-block-container">
                                           <!-- Call To Action Block Button -->
                                           <div class="cta-block-btn">
                                                 <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                              </div>
                                              <!-- /End Call To Action Block Button -->
                                           <!-- Call To Action Block Body -->
                                           <div class="cta-block-body">
                                              <p>Download Our Brochure</p>
                                           </div>
                                           <!-- /End Call To Action Block Body -->
                                           
                                         
                                        </div>
                                        <!-- /End Call To Action Block Container -->
                                     </div>
                                     <!-- /End Call To Action Block -->
                                  </div>
                                  <!-- /End col-md-12 -->
                               </div>
                               <!-- /End row -->
                            </div>
                            <!-- /End container -->
                         </div>
                         <!-- /End Section Container -->
                      </div>