<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
            <!-- Section Container -->
            <div class="section-container">
        
        
                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">
        
                        <h1 class="breadcrumb-main-title">Study Destinations</h1>
                        <p class="breadcrumb-subtitle">What We Provide</p>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->
        
        
                <!-- Breadcrumb Block -->
                <div class="breadcrumb-block">
                    <!-- container -->
                    <div class="container">
        
                        <ol class="breadcrumb">
                            <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">Poland</li>
                        </ol>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb block -->
        
        
            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        
        
        <div class="gfort-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                        data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                            </ul>
        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                    <div>
                                        <p>
                                                Poland is a country in Central Europe, situated between the Baltic Sea in the north and two
                                                mountain range in the south. The total area of Poland is 312,679 square kilometers (120,726 sq mi),
                                                making it the 69th largest country in the world and the 9th largest in Europe. Poland is a unitary state
                                                divided into 16 administrative subdivisions, and its capital and largest city is Warsaw. Other
                                                metropolises include Kraków, Wrocław, Poznań, Gdańsk and Szczecin.
                                        </p>
        
                                        <h3 id="quickFacts">QUICK FACTS</h3>
                                        <ul>
                                            <li>Capital: Warsaw</li>
                                            <li>Largest City: Warsaw</li>
                                            <li>Population: 38.53 million</li>
                                            <li>Official Languages: Polish</li>
                                            <li>ISD Code: +48</li>
                                            <li>Currency: Polish złoty</li>
                                            <li>Minimum Wages / Hour: 10-15 PLN</li>
                                            <li>Number of Universities: 501</li>

                                        
                                        </ul>

        

        
                                        <h3 id="educationIns">POLAND EDUCATIONAL INSTITUTIONS</h3>
                                        <ul>
                                                <li>Public And Private Universities</li>
                                                <li>Universities Of Technology</li>
                                                <li>Medical Universities</li>
                                                <li>Universities Of Economics</li>
                                                <li>Universities Of Agriculture And Life Sciences</li>
                                                <li>Universities Pedagogy</li>
                                                <li>Universities Of Arts</li>
                                                <li>Universities Of Physical Education</li>
                                        
                                        </ul>

                                        <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                        <ul>
                                                <li>Diploma</li>
                                                <li>Bachelor’s Degree</li>
                                                <li>Master’s Degree</li>
                                                <li>Doctorate</li>
                                        </ul>
        
                                        <h3 id="whyStudyin">WHY STUDY IN NEW ZEALAND?</h3>
                                        <p>
                                                Poland’s education system dates back to the Middle Ages. Jagiellon University, for example, was
                                                founded in the 14th century, and today is one of the oldest universities in Europe. There are over 400
                                                courses offered in English in Poland, many of them at an undergraduate level. Poland has several well-
                                                respected universities, including Jagiellonian University and Warsaw University. Warsaw University is
                                                ranked first in the Top Coder international IT ranking, outperforming such well-respected American
                                                universities as the Massachusetts Institute of Technology (MIT). The number of higher education
                                                institutions in Poland has quadrupled over the past ten years, while the number of students increased
                                                fivefold. International students who choose to study in Poland will have the opportunity to receive a
                                                quality education in a quickly burgeoning academic environment.

                                                <br>
                                                Poland’s medical schools, in particular, are drawing an increasing number of international students.
                                                Many international students who have been unable to get into a medical program in their home country
                                                choose instead to study medicine in Poland. Although these courses are taught in English, Polish
                                                speaking skills are likely to become necessary by the end of the program, when students begin
                                                consultations with patients.

                                                <br>
                                                All leading universities in Poland offer high-quality programs taught in English, including medicine,
                                                engineering, humanities, business, and finance.
                                        </p>
                                        <ul>
               
                                            <li>Worldwide recognized, Quality education</li>
                                            <li>Low Tuition Fees</li>
                                            <li>European Union Member (28 Countries)</li>
                                            <li>Schengen Country (visa allows to travel to 26 member countries)</li>
                                            <li>ECTS (European Credit Transfer System) Student can take transfer to study in any EU country</li>
                                            <li>Extended residence permission after graduation</li>
                                            <li>Curriculum on American / International Standards. Courses completely taught in English language</li>
                                            <li>Save one year in engineering (Bachelors for 3 years and Masters for 1.5 years to 2 years)</li>
                                            <li>Settlement option (Blue Card). Work Full time</li>
                                            <li>No TOEFL, IELTS required if education has been in English Medium</li>
                                            <li>Various Scholarships offered to students whilst studying such as GE Foundation, etc.</li>
                                            <li>Part time jobs, Internships.</li>
                                            <li>Affordable living costs</li>

                                        </ul>
        
        
                                        <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                        <p>TOEFL or IELTS is not required.</p>
                                  
                                     
        
                                        <h3 id="intakes">INTAKE </h3>
                                        <ul>
                                            <li>February (few programs) / September</li>
                                        </ul>
        
                                        <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                        <ul>
                                            <li>
                                                Course fees differ in private institutions and public universities though ranges from €2,000 to €6,000 per
                                                Year depending on the course and institution.
                                            </li>
                                        </ul>

                                        <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                        <h3 id="costOfLiving">COST OF LIVING</h3>
                                        <p>
                                                Cost of living would be between 180-300 Euros per month, depending upon the location of their
residence.
                                        </p>
        
                                        <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                        <p>
                                                Students are allowed to work part time 20 hours per week on campus/off campus and 3 months full
                                                time during holidays. In Poland, Minimum wages varies between 10 – 15 PLN per hour depending upon
                                                the area &amp; job.
                                        </p>
        
                                        <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                        <p>
                                                Stay back for further 2-3 years post education as long as you can prove that you can financially support
yourself without seeking any government benefits.
                                        </p>
        
                                        <h3 id="staybackoptions">USEFUL LINKS</h3>
                                        <ul>
                                                <li>Study in Poland:<br> www.studyinpoland.pl/en/</li>
                                                <li style="font-size: 10px;">Directory of Poland:<br> www.msz.gov.pl/en/travel_to_poland/study_in_poland/</li>
                                        </ul>
                   
        
                                        <h3 id="disclaimer">DISCLAIMER</h3>
                                        <p>
                                                This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                                which information is taken from various relevant websites. It aims to answer some common questions.
                                                Visitors are recommended to contact the office for most updated information.
                                        </p>
        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="gfort-section fullwidth-section pt-0 pb-0">
            <!-- Section Container -->
            <div class="section-container">
               <!-- container -->
               <div class="container">
                  <!-- row -->
                  <div class="row">
                     <!-- col-md-12 -->
                     <div class="col-md-12">
                        <!-- Call To Action Block -->
                        <div class="cta-block cta-block-main mb-0">
                           <!-- Call To Action Block Container -->
                           <div class="cta-block-container">
                              <!-- Call To Action Block Body -->
                              <div class="cta-block-body">
                                 <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                              </div>
                              <!-- /End Call To Action Block Body -->
                              <!-- Call To Action Block Button -->
                              <div class="cta-block-btn">
                                 <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                              </div>
                              <!-- /End Call To Action Block Button -->
                            
                           </div>
                           <!-- /End Call To Action Block Container -->
                        </div>
                        <!-- /End Call To Action Block -->
                     </div>
                     <!-- /End col-md-12 -->
                  </div>
                  <!-- /End row -->
               </div>
               <!-- /End container -->
            </div>
            <!-- /End Section Container -->
         </div>
         <!-- /End gfort Section -->
                       <!-- gfort Section -->
                       <div  class="gfort-section fullwidth-section pt-0 pb-0">
                         <!-- Section Container -->
                         <div class="section-container">
                            <!-- container -->
                            <div class="container">
                               <!-- row -->
                               <div class="row">
                                  <!-- col-md-12 -->
                                  <div class="col-md-12">
                                     <!-- Call To Action Block -->
                                     <div style="background-color:white" class="cta-block  mb-0">
                                        <!-- Call To Action Block Container -->
                                        <div class="cta-block-container">
                                           <!-- Call To Action Block Button -->
                                           <div class="cta-block-btn">
                                                 <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                              </div>
                                              <!-- /End Call To Action Block Button -->
                                           <!-- Call To Action Block Body -->
                                           <div class="cta-block-body">
                                              <p>Download Our Brochure</p>
                                           </div>
                                           <!-- /End Call To Action Block Body -->
                                           
                                         
                                        </div>
                                        <!-- /End Call To Action Block Container -->
                                     </div>
                                     <!-- /End Call To Action Block -->
                                  </div>
                                  <!-- /End col-md-12 -->
                               </div>
                               <!-- /End row -->
                            </div>
                            <!-- /End container -->
                         </div>
                         <!-- /End Section Container -->
                      </div>