
            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">Our Services</h1>
                            <p class="breadcrumb-subtitle">What We Provide</p>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">Our Services</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->

            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">

                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">

                        <!-- gfort Section -->
                        <div class="gfort-section">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">

                                        <!-- col-md-4 -->
                                        <div class="col-md-4">

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-4.png" alt="IELTS Coaching" />
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>IELTS COACHING </h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                             <p>Our IELTS faculties, in other words, experienced trainers which ensure that the students don't hold any doubt in their coaching.</p> 

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['ielts-coaching']" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-6.png" alt="Web Design" />
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>CAREER GUIDANCE AND COUNSELLING</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                             <p>Our experienced team provides customers with one to one counselling & guidance for Study, Work</p>

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['career-guidance']" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                        </div><!-- /End col-md-4 -->

                                        <!-- col-md-4 -->
                                        <div class="col-md-4">

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-5.png" alt="Settlement Assistance">
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>SETTLEMENT ASSISTANCE</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                            <p>Our Settlement assistance ensure that you feel at home in your new country.  Once you have acquired your visa, whether it is a Permanent</p>

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['settlement-assistance']" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->


                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-2.png" alt="Human Resource" />
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>HUMAN RESOURCE</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                            <p>We actively search, Recruit and Screen candidates for employment, train them according to specific Client requirements and deploy.</p>

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['human-resource']" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                        </div><!-- /End col-md-4 -->

                                        <!-- col-md-4 -->
                                        <div class="col-md-4">

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-3.png" alt="Trade Test">
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>TRADE TEST</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                           <p>We usually conduct Trade Test for strictly identifying the right candidate for skilled works and these tests are being conducted</p>

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['trade-test']" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-9.png" alt="Student Visa" />
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>STUDENT VISA</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                             <p>One of our areas of expertise is student visa wherein we ﬁrst look into the students IELTS score which is mandatory. Consequently</p>

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['student-visa']"  class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                            </div><!-- /End col-md-4 -->

                                        <!-- col-md-4 -->
                                        <div class="col-md-4">

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-8.png" alt="Web Design" />
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>IMMIGRATION</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                            <p>Immigration Another area of expertise where the clients are satisﬁed is with the transparent advice provided to them. With well experienced </p>

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['immigration']" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->
                                            
                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-11.png" alt="Web Design" />
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>ADMISSION SUPPORT</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                            <p>Worldwide universities and colleges have their own process of granting the admission to students based on the course applied</p>

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['admission-support']" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                            </div><!-- /End col-md-4 -->

                                        <!-- col-md-4 -->
                                        <div class="col-md-4">                                            

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                     <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-10.png" alt="Web Design" />
                                                    </div><!--End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>PRE-DEPARTURE SUPPORT</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                            <p>We understand the difficulties students face when they first land in a new country and our pre-departure support helps you overcome</p>

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['pre-departure-support']" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-4.png" alt="Web Design" />
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>WORK PERMIT</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                             <!-- <p>Our services include Bank loan assistance, ranging from loan application to documentation to liaison with private and national banks</p> -->

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a href="#" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                            </div><!-- /End col-md-4 -->

                                        <!-- col-md-4 -->
                                        <div class="col-md-4">

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">

                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-7.png" alt="Web Design" />
                                                    </div><!-- /End gfort Block Head -->

                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">

                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>LOAN ASSISTANCE</h4>
                                                        </div><!-- /End gfort Block Title -->

                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                            <p>Our services include Bank loan assistance, ranging from loan application to documentation to liaison with private and national banks</p>

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a [routerLink]="['loan-assistance']" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->

                                                    </div><!-- /End gfort Block Body -->

                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                            <!-- Image Block -->
                                            <div class="gfort-block image-block gfort-block-style-4">
                                                <!-- gfort Block Container -->
                                                <div class="gfort-block-container">


                                                    <!-- gfort Block Head -->
                                                    <div class="gfort-block-head">
                                                        <img src="../../assets/images/services/sm-4.png" alt="Web Design" />
                                                    </div><!-- /End gfort Block Head -->


                                                    <!-- gfort Block Body -->
                                                    <div class="gfort-block-body">


                                                        <!-- gfort Block Title -->
                                                        <div class="gfort-block-title">
                                                            <h4>PERMANENT RESIDENCE VISA ASSISTANCE</h4>
                                                        </div><!-- /End gfort Block Title -->


                                                        <!-- gfort Block Content -->
                                                        <div class="gfort-block-content">

                                                            <!-- <p>Phasellus luctus nisl sit amet nisl cursus, vel sollicitudin turpis fermentum.</p> -->

                                                            <!-- gfort Block Button -->
                                                            <div class="gfort-block-btn">
                                                                <a href="#" class="btn btn-gfort btn-gfort-md">Read More</a>
                                                            </div><!-- /End gfort Block Button -->

                                                        </div><!-- /End gfort Block Content -->


                                                    </div><!-- /End gfort Block Body -->


                                                </div><!-- /End gfort Block Container -->
                                            </div><!-- /End Image Block -->

                                        </div><!-- /End col-md-4 -->

                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->

                        <!-- gfort Section -->
                        <div class="gfort-section fullwidth-section pt-0 pb-0">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">

                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Call To Action Block -->
                                            <div class="cta-block cta-block-main mb-0">
                                                <!-- Call To Action Block Container -->
                                                <div class="cta-block-container">

                                                    <!-- Call To Action Block Body -->
                                                    <div class="cta-block-body">
                                                        <p>Get a free quote by calling us at <a href="#">+91 730 670 0014</a> or</p>
                                                    </div><!-- /End Call To Action Block Body -->

                                                    <!-- Call To Action Block Button -->
                                                    <div class="cta-block-btn">
                                                        <a href="#" class="btn btn-gfort-white">Contact us now</a>
                                                    </div><!-- /End Call To Action Block Button -->


                                                </div><!-- /End Call To Action Block Container -->
                                            </div><!-- /End Call To Action Block -->
                                        </div><!-- /End col-md-12 -->

                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->



                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->

            </div><!-- /End Page Body -->


