<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
    <!-- Section Container -->
    <div class="section-container">


        <!-- Breadcrumb Title -->
        <div class="breadcrumb-title light-color">
            <!-- container -->
            <div class="container">

                <h1 class="breadcrumb-main-title">Contact Us</h1>
                <p class="breadcrumb-subtitle">Get in touch</p>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb Title -->


        <!-- Breadcrumb Block -->
        <div class="breadcrumb-block">
            <!-- container -->
            <div class="container">

                <ol class="breadcrumb">
                    <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                    <li class="active">Contact Us</li>
                </ol>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb block -->


    </div><!-- /End Section Container -->
</div><!-- /End Page Title Section -->


<!-- Page Body
            ==================================================================== -->
<div class="page-body">


    <!-- Main Content
                ================================================================ -->
    <div class="main-content">
        <!-- Main Content Container -->
        <div class="main-content-container">


            <!-- gfort Section -->
            <div class="gfort-section">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-8 -->
                            <div class="col-md-8">
                                <!-- Contact Form Block -->
                                <div class="form-block contact-form-block">
                                    <!-- Form Block Container -->
                                    <div class="form-block-container">
                     <!-- Form -->
                                         
                                      <form class="form" action="../php/contactform.php" method="post">
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="name-input">Name:</label>
                                                            <input id="name-input" type="text" name ="name" class="form-control" >
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="email-input">Email:</label>
                                                            <input id="email-input" type="email" name="email" class="form-control">
                                                        </div>
                                                        </div>
                                                        <div class="col-md-4">
                                                        
                                                        <div class="form-group">
                                                            <label for="phone-input">Phone:</label>
                                                            <input id="phone-input" type="tel" name ="mob" class="form-control">
                                                        </div>
                                                        </div>
                                                        
                                                        <div class="col-md-12">
                                                            <!-- Form Group -->
                                                            <div class="form-group">
                                                        
                                                        <label for="form_message">Message *</label>
                                                        <textarea class="form-control" name="message"
                                                            id="form_message"></textarea>
                                                        
                                                            </div><!-- /End Form Group -->
                                                        </div><!-- /End Message -->
                                                        
                                                        
                                                        
                                                        <div class="form-group">
                                                            <button
                                                                    type="submit" name="submit"class="btn btn-success float-right">
                                                            Submit
                                                            </button>
                                                        </div>
                                                        
                                                        <div class="col-md-12">
                                                        <!-- Form Group -->
                                                        <div class="form-group">
        
                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" class="form-control"
                                                                        name="form_terms" id="form_terms"> I have read and
                                                                    agreed to TEMPUS <a href="#"
                                                                        title="terms and conditions">terms and conditions</a>.
                                                                </label>
                                                            </div>
        
                                                        </div><!-- /End Form Group -->
                                                    </div><!-- /End Terms -->
                                                    
                                          </form>
                                             <!-- /End Form -->
                                    </div><!-- /End Form Block Container -->
                                </div><!-- /End Contact Form Block -->
                            </div><!-- /End col-md-8 -->


                            <!-- col-md-4 -->
                            <div class="col-md-4">


                                <!-- Contact Block -->
                                <div class="gfort-block contact-block"
                                    style="background-image: url(../../assets/images/misc/world-map.png);">
                                    <!-- gfort Block Container -->
                                    <div class="gfort-block-container">

                                        <!-- gfort Block Body -->
                                        <div class="gfort-block-body">

                                            <!-- gfort Block Content -->
                                            <div class="gfort-block-content">

                                                <strong>Email:</strong>
                                                <p><a href="mailto:inquiry@tempusimmigration.com"
                                                        title="Support">inquiry@tempusimmigration.com</a></p>

                                                <strong>Phone:</strong>
                                                <p><a href="tel:+917306700014" title="+91 730 670 0014">+91 730 670 0014</a></p>

                                                <strong>Location:</strong>
                                                <p></p>

                                                <strong>Business Hours:</strong>
                                                <p>
                                                    Monday - Friday: 9.30 AM to 5.30 PM
                                                    <br>
                                                    Saturday: 9.30 AM to 3.00 AM
                                                    <br>
                                                    Sunday: Closed
                                                </p>

                                            </div><!-- /End gfort Block Content -->

                                        </div><!-- /End gfort Block Body -->

                                    </div><!-- /End gfort Block Container -->
                                </div><!-- /End Contact Block -->


                                <!-- Text Block -->
                                <div class="gfort-block text-block">
                                    <!-- gfort Block Container -->
                                    <div class="gfort-block-container">

                                        <!-- gfort Block Body -->
                                        <div class="gfort-block-body">


                                            <!-- gfort Block Title -->
                                            <div class="gfort-block-title">
                                                <h4>STAY CONNECTED</h4>
                                            </div><!-- /End gfort Block Title -->


                                            <!-- gfort Block Content -->
                                            <div class="gfort-block-content">
                                                <!-- Social Icons Block -->
                                                <div class="social-icons-block icons-style-2">
                                                    <ul>

                                                        <li>
                                                            <a href="https://www.facebook.com/tempusimmigrationconsultants" title="Facebook">
                                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                                                <i class="fa fa-facebook" aria-hidden="true"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" title="Google Plus">
                                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                                <i class="fa fa-google-plus" aria-hidden="true"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" title="Twitter">
                                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                                                <i class="fa fa-twitter" aria-hidden="true"></i>
                                                            </a>
                                                        </li>

                                                        <li>
                                                            <a href="#" title="Pinterest">
                                                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                                <i class="fa fa-pinterest" aria-hidden="true"></i>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div><!-- /End Social Icons Block -->
                                            </div><!-- /End gfort Block Content -->


                                        </div><!-- /End gfort Block Body -->

                                    </div><!-- /End gfort Block Container -->
                                </div><!-- /End Text Block -->


                            </div><!-- /End col-md-4 -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->


            <!-- gfort Section -->
            <div class="gfort-section fullwidth-section pt-0 pb-0">
                <!-- Section Container -->
                <div class="section-container">
                    <!-- container -->
                    <div class="container">
                        <!-- row -->
                        <div class="row">


                            <!-- col-md-12 -->
                            <div class="col-md-12">
                                <!-- Google Map Block -->
                                <div class="google-map-block google-map-block-collapsed mb-0" data-zoom="16"
                                    data-lat="48.8628277" data-lng="2.3523733"
                                    data-api-key="AIzaSyBDGULVau4J4Chpc4DmyfwKoz3XRUwsEOQ"
                                    style="background-image: url(../../assets/images/parallax-images/world-map.png);">

                                    <!-- Google Map Marker -->
                                    <div class="google-map-marker" data-marker-image="images/google-map/marker.png"
                                        data-marker-lat="48.8628277" data-marker-lng="2.3523733">

                                        <img src="../../assets/images/google-map/001.jpg" alt="Office">
                                        <h4>Main office</h4>
                                        <p>6 rue Saint-Martin, 12345 Paris, France</p>

                                    </div><!-- /End Google Map Marker -->

                                </div><!-- /End Google Map Block -->
                            </div><!-- /End col-md-12 -->


                        </div><!-- /End row -->
                    </div><!-- /End container -->
                </div><!-- /End Section Container -->
            </div><!-- /End gfort Section -->


        </div><!-- /End Main Content Container -->
    </div><!-- /End Main Content -->


</div><!-- /End Page Body -->