<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
    <!-- Section Container -->
    <div class="section-container">


        <!-- Breadcrumb Title -->
        <div class="breadcrumb-title light-color">
            <!-- container -->
            <div class="container">

                <h1 class="breadcrumb-main-title">Study Destinations</h1>
                <p class="breadcrumb-subtitle">What We Provide</p>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb Title -->


        <!-- Breadcrumb Block -->
        <div class="breadcrumb-block">
            <!-- container -->
            <div class="container">

                <ol class="breadcrumb">
                    <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                    <li class="active">France</li>
                </ol>

            </div><!-- /End container -->
        </div><!-- /End Breadcrumb block -->


    </div><!-- /End Section Container -->
</div><!-- /End Page Title Section -->


<div class="gfort-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Nav tabs -->
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="Overview">
                            <div>
                                <p>France, officially the French Republic is a country with territory in
                                    western Europe and
                                    several overseas regions and territories It is a unitary semi-presidential republic
                                    with the capital in Paris,
                                    the country&#39;s largest city and main cultural and commercial centre. Other major
                                    urban centres include
                                    Marseille, Lyon, Lille, Nice, Toulouse and Bordeaux. France has long been a global
                                    centre of art, science,
                                    and philosophy. It hosts Europe&#39;s fourth-largest number of cultural UNESCO World
                                    Heritage Sites and
                                    receives around 83 million foreign tourists annually, the most of any country in the
                                    world. France
                                    performs well in international rankings of education, health care, life expectancy,
                                    and human
                                    development</p>

                                <h3 id="quickFacts">QUICK FACTS</h3>
                                <ul>
                                    <li>Capital: Paris</li>
                                    <li>Largest City: Paris</li>
                                    <li>Population: 66.03 million</li>
                                    <li>Official Languages: French</li>
                                    <li>ISD Code: +33</li>
                                    <li>Currency: Euro</li>
                                    <li>Minimum Wages / Hour: €9.61</li>
                                    <li>Number of Universities: 572</li>

                                </ul>


                                <h3 id="educationIns">FRENCH EDUCATIONAL INSTITUTIONS</h3>
                                <ul>

                                    <li>Public universities – Government funded and open to all meeting eligibility
                                        criteria.</li>
                                    <li>Grandes écoles - Highly illustrious institutions hence admissions to these are
                                        based on entrance examinations
                                        scores.</li>
                                    <li>Technical institutes – that imparts education in vocational subjects</li>

                                </ul>
                                <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                <ul>

                                    <li>Diploma</li>

                                    <li>Associate Degree</li>
                                    <li>Bachelor’s Degree</li>

                                    <li>Master’s Degree</li>
                                    <li>Doctorate</li>



                                </ul>

                                <h3 id="whyStudyin">WHY STUDY IN FRANCE?</h3>
                                <p>France is one of the most sought after study-abroad destinations, inviting abundant number of students
                                        every year from all over the world. In addition to a good educational experience, studying in France
                                        leads to good career opportunities internationally after graduation. France is better known for its high
                                        level of technological development, culture and reputation in the education system, which attracts
                                        number of young aspirants here every academic year. For many years, France has held its prominent
                                        place in subjects like Mathematics, Astrophysics, Biology, Medicine (Medicine in France), Genetics,
                                        Physics and other science subjects. The past record of the country in relation to its contribution to
                                        science and research field, its achievement is tremendous. It is also well known for its Elite &quot; Grande
                                        
                                        Ecole &quot; with selective entry levels for the best students in areas such as Business, Engineering. Thus,
                                        many foreign students choose to pursue their higher studies in France due to its technological progress.</p>
                                <ul>
                                        <li>France is one of the most appealing destination for students worldwide</li>
                                        <li>Paris has been voted as no 1 student city! (QS Best Student Cities, 2014)</li> 
                                        <li>4th wealthiest country and 5th largest economy of the world</li> 
                                        <li>Over 5 French business schools are ranked among top 10 business schools in Europe</li>
                                        <li>Excellent environment that promotes innovation and entrepreneurship</li>
                                        <li>Highly subsidized tuition fees</li>
                                        <li>One of the best countries to pursue management and engineering courses with excellent
                                                specializations on offer</li>
                                        <li>Head quarter of 39 Global fortune 500 companies</li>
                                        <li>Collaboration with industry and salary based internships are integral part of curriculum</li>
                                        <li>Excellent placement opportunity for students in the area of their study</li>
                                        <li>
                                                Outstanding research and development opportunities
                                        </li>
                                        <li>
                                                Offer free French language classes for international students
                                        </li>
                                </ul>


                                <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                <p>TOEFL or IELTS scores as a proof of English proficiency. Depending upon the institution, the score
                                    requirements may vary between 80-100 for TOEFL and 6.0 - 7.0 bands in IELTS. For MBA admission a
                                    good score in GMAT is required.</p>

                                <h3 id="intakes">INTAKE </h3>
                                <ul>
                                    <li>February/September</li>
                                </ul>

                                <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                <ul>
                                    <li>Masters program ( Engineering stream ) - 13500 Euros for entire program Masters program</li>
                                    <li>Masters program ( Business stream)- 15200 Euros for entire program</li>
                                </ul>
                                <p>*Fees given are of informative nature, may vary from university to university</p>


                                <h3 id="costOfLiving">COST OF LIVING</h3>
                                <p>A minimum of €8,000 per year (may vary depending on the accommodation taken and the life style of
                                        the student)</p>

                                <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                <p>Students are allowed to work part time 20 hours per week and full time 40 hours per week on during
                                        holidays while studying the course. In France, The minimum hourly wage rate is set at €9.61 per hour
                                        (before taxes). After reducing the same, the student makes somewhere around €7.67 per hour.</p>

                                <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                              <p>months stay back option is available for students who have completed their Maters Program</p>

                                <h3 id="staybackoptions">USEFUL LINKS</h3>
                                <ul>
                                    <li>Study in France: http://www.campusfrance.org/en</li>
                                    <li>France Immigration: http://www.diplomatie.gouv.fr/en/</li>
                                </ul>
           

                                <h3 id="disclaimer">DISCLAIMER</h3>
                                <p>This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                        which information is taken from various relevant websites. It aims to answer some common questions.
                                        Visitors are recommended to contact the office for most updated information.</p>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="gfort-section fullwidth-section pt-0 pb-0">
    <!-- Section Container -->
    <div class="section-container">
       <!-- container -->
       <div class="container">
          <!-- row -->
          <div class="row">
             <!-- col-md-12 -->
             <div class="col-md-12">
                <!-- Call To Action Block -->
                <div class="cta-block cta-block-main mb-0">
                   <!-- Call To Action Block Container -->
                   <div class="cta-block-container">
                      <!-- Call To Action Block Body -->
                      <div class="cta-block-body">
                         <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                      </div>
                      <!-- /End Call To Action Block Body -->
                      <!-- Call To Action Block Button -->
                      <div class="cta-block-btn">
                         <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                      </div>
                      <!-- /End Call To Action Block Button -->
                    
                   </div>
                   <!-- /End Call To Action Block Container -->
                </div>
                <!-- /End Call To Action Block -->
             </div>
             <!-- /End col-md-12 -->
          </div>
          <!-- /End row -->
       </div>
       <!-- /End container -->
    </div>
    <!-- /End Section Container -->
 </div>
 <!-- /End gfort Section -->
               <!-- gfort Section -->
               <div  class="gfort-section fullwidth-section pt-0 pb-0">
                 <!-- Section Container -->
                 <div class="section-container">
                    <!-- container -->
                    <div class="container">
                       <!-- row -->
                       <div class="row">
                          <!-- col-md-12 -->
                          <div class="col-md-12">
                             <!-- Call To Action Block -->
                             <div style="background-color:white" class="cta-block  mb-0">
                                <!-- Call To Action Block Container -->
                                <div class="cta-block-container">
                                   <!-- Call To Action Block Button -->
                                   <div class="cta-block-btn">
                                         <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                      </div>
                                      <!-- /End Call To Action Block Button -->
                                   <!-- Call To Action Block Body -->
                                   <div class="cta-block-body">
                                      <p>Download Our Brochure</p>
                                   </div>
                                   <!-- /End Call To Action Block Body -->
                                   
                                 
                                </div>
                                <!-- /End Call To Action Block Container -->
                             </div>
                             <!-- /End Call To Action Block -->
                          </div>
                          <!-- /End col-md-12 -->
                       </div>
                       <!-- /End row -->
                    </div>
                    <!-- /End container -->
                 </div>
                 <!-- /End Section Container -->
              </div>