<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
            <!-- Section Container -->
            <div class="section-container">
        
        
                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">
        
                        <h1 class="breadcrumb-main-title">Study Destinations</h1>
                        <p class="breadcrumb-subtitle">What We Provide</p>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->
        
        
                <!-- Breadcrumb Block -->
                <div class="breadcrumb-block">
                    <!-- container -->
                    <div class="container">
        
                        <ol class="breadcrumb">
                            <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">New Zealand</li>
                        </ol>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb block -->
        
        
            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        
        
        <div class="gfort-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                        data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                            </ul>
        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                    <div>
                                        <p>
                                                New Zealand is an island nation in the southwestern Pacific Ocean. New Zealand is the
                                                youngest country on earth - the last major landmass to be discovered. It has a rich and fascinating
                                                history, reflecting both Maori and European heritage. New Zealand is organised into 11 regional councils
                                                and 67 territorial authorities for local government purposes. The Realm of New Zealand also includes
                                                Tokelau (a dependent territory); the Cook Islands and Niue (self-governing states in free association with
                                                New Zealand); and the Ross Dependency, which is New Zealand&#39;s territorial claim in Antarctica. New
                                                Zealand is a member of the United Nations, Commonwealth of Nations, ANZUS, Organisation for
                                                Economic Co-operation and Development, Pacific Islands Forum, and Asia-Pacific Economic Cooperation.
                                        </p>
        
                                        <h3 id="quickFacts">QUICK FACTS</h3>
                                        <ul>
                                            <li>Capital: Wellington</li>
                                            <li>Largest City: Auckland</li>
                                            <li>Population: 46.93 million</li>
                                            <li>Official Languages: English, Maori</li>
                                            <li>ISD Code: +64</li>
                                            <li>Currency: New Zealand Dollar (NZD)</li>
                                            <li>Minimum Wages / Hour: $14.25</li>
                                            <li>Number of Universities: 8</li>

        
                                        </ul>

        

                                        <p>
                                                The qualifications of New Zealand are issued and administered by New Zealand qualifications Authority
                                                (NZQA).
                                        </p>

        
                                        <h3 id="educationIns">NEW ZEALAND EDUCATIONAL INSTITUTIONS</h3>
                                        <ul>
                                            <li>Universities<br>
                                            There are 8 government-funded universities in New Zealand which is open to anyone who
                                            meets the common entrance qualification prescribed by the New Zealand Qualifications
                                            Authority (NZQA).
                                            </li>
                                            <li>Polytechnics<br>
                                                There are 20 polytechnics called as Institutes of Technology offer a wide range of courses.
                                            </li>
                                            <li>Private Training Institutions<br>
                                                There are over 800 private education providers, offering short-term English language courses for
                                                international students.
                                            </li>
                                        
                                        </ul>

                                        <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                        <ul>
                                                <li>Certificate</li>
                                                <li>Diploma</li>
                                                <li>Bachelor’s Degree</li>
                                                <li>Graduate Certificate</li>
                                                <li>Graduate Diploma</li>
                                                <li>Postgraduate Certificate</li>
                                                <li>Postgraduate Diploma</li>
                                                <li>Bachelor Honours Degree</li>
                                                <li>Master’s Degree</li>
                                                <li>Doctorate</li>
                                                
                                        </ul>
        
                                        <h3 id="whyStudyin">WHY STUDY IN NEW ZEALAND?</h3>
                                        <p>
                                                New Zealand universities, colleges and other New Zealand education institutions offer students a unique
                                                learning environment. This is supported by an integrated education system in which students attending
                                                New Zealand schools find it easy to make the transition to the next level of education. Students who
                                                have studied are earning a reputation of being called innovative thinkers and are being addressed as
                                                “The New World Class”. It has a progressive education system with state of art facilities. Qualifications
                                                are internationally recognized. There are wide range of study opportunities, including state
                                                administered primary, secondary schools, universities, polytechnics, colleges of education and private
                                                training establishments. The NZQA assures the quality of programme offered by state institutions and a
                                                private establishment, which in turn ensures that programmes offered in New Zealand, maintain
                                                international recognition.
                                        </p>
                                        <ul>
               

                                                <li> World’s most recognized education system</li>
                                                <li> New Zealand universities offer students a unique learning environment. Known as the ‘New
                                                World Class’.</li>
                                                <li>Qualifications widely recognized and respected internationally</li>
                                                <li>Cost of education is cheaper as compared to US/ Europe</li>
                                                <li>Fee payment only on visa approval</li>
                                                <li>Strong growing economy with large manpower shortage</li>
                                                <li>High Student Visas as compared to countries like the US</li>
                                                <li>No personal interview and No outright visa rejection</li>
                                                <li>Work permit for Spouse</li>
                                                <li>New Zealand is an economically wise and safe option for students.</li>
                                                <li>Beautiful region with remarkable natural beauty, dynamic culture that makes the country a
                                                great place to study.</li>

                                        </ul>
        
        
                                        <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                        <p>IELTS scores as a proof of English Proficiency.</p>
                                        <ul>
                                               <li>Diploma programs: Overall band score of 5.5 with no band less than 5.0</li> 
                                                <li>Bachelor’s Degree: Overall band score of 6.0</li> 
                                                <li>Graduate Diploma: Overall band score of 6.0</li>
                                                <li>Master Programs: Overall band score of 6.5</li>
                                        </ul>
                                        <p>
                                                TOEFL is not acceptable by New Zealand High Commission. Please confirm acceptable test status at the
                                                time of making application.
                                        </p>
                                     
        
                                        <h3 id="intakes">INTAKE </h3>
                                        <ul>
                                            <li>Feb /July</li>
                                        </ul>
        
                                        <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                        <ul>
                                            
                                                <li>Diploma Courses range from NZ$13,500 - NZ$16,000 per year depending on the
                                                course</li>
                                                <li>Degree range from NZ$15,000 - NZ$18,000 per year for most under-graduate
                                                degrees</li>
                                                <li>Post-graduate Degrees begin from NZ$16,000 per year and MBA Degrees are about NZ$22,000</li>

                                        </ul>
                                        <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                        <h3 id="costOfLiving">COST OF LIVING</h3>
                                        <p>
                                                Between NZ$8,000 and NZ$15,000 depending upon the location of their residence.
                                        </p>
        
                                        <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                        <p>
                                                Students are allowed to work part time 20 hours per week and full time 40 hours per week during
                                                holidays while studying the course. In New Zealand, Minimum wages varies between 12 – 14.25 NZ$ per
                                                hour depending upon the province.
                                                <br>
                                                Spouses: (full time work rights for spouses for Masters, PhD and post-doctoral programs
                                        </p>
        
                                        <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                        <p>
                                                12 month graduate job search visa after study.
                                        </p>
        
                                        <h3 id="staybackoptions">USEFUL LINKS</h3>
                                        <ul>
                                   
                                                <li>Know New Zealand: www.newzealand.com</li>
                                                <li>Immigration New Zealand: www.immigration.govt.nz</li>
                                                <li>Education New Zealand: www.educationnz.org.nz</li>
                                                <li>Information on living, working and studying in New Zealand: www.newzealandeducated.com</li>

                                        </ul>
                   
        
                                        <h3 id="disclaimer">DISCLAIMER</h3>
                                        <p>
                                                This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                                which information is taken from various relevant websites. It aims to answer some common questions.
                                                Visitors are recommended to contact the office for most updated information.
                                        </p>
        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="gfort-section fullwidth-section pt-0 pb-0">
            <!-- Section Container -->
            <div class="section-container">
               <!-- container -->
               <div class="container">
                  <!-- row -->
                  <div class="row">
                     <!-- col-md-12 -->
                     <div class="col-md-12">
                        <!-- Call To Action Block -->
                        <div class="cta-block cta-block-main mb-0">
                           <!-- Call To Action Block Container -->
                           <div class="cta-block-container">
                              <!-- Call To Action Block Body -->
                              <div class="cta-block-body">
                                 <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                              </div>
                              <!-- /End Call To Action Block Body -->
                              <!-- Call To Action Block Button -->
                              <div class="cta-block-btn">
                                 <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                              </div>
                              <!-- /End Call To Action Block Button -->
                            
                           </div>
                           <!-- /End Call To Action Block Container -->
                        </div>
                        <!-- /End Call To Action Block -->
                     </div>
                     <!-- /End col-md-12 -->
                  </div>
                  <!-- /End row -->
               </div>
               <!-- /End container -->
            </div>
            <!-- /End Section Container -->
         </div>
         <!-- /End gfort Section -->
                       <!-- gfort Section -->
                       <div  class="gfort-section fullwidth-section pt-0 pb-0">
                         <!-- Section Container -->
                         <div class="section-container">
                            <!-- container -->
                            <div class="container">
                               <!-- row -->
                               <div class="row">
                                  <!-- col-md-12 -->
                                  <div class="col-md-12">
                                     <!-- Call To Action Block -->
                                     <div style="background-color:white" class="cta-block  mb-0">
                                        <!-- Call To Action Block Container -->
                                        <div class="cta-block-container">
                                           <!-- Call To Action Block Button -->
                                           <div class="cta-block-btn">
                                                 <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                              </div>
                                              <!-- /End Call To Action Block Button -->
                                           <!-- Call To Action Block Body -->
                                           <div class="cta-block-body">
                                              <p>Download Our Brochure</p>
                                           </div>
                                           <!-- /End Call To Action Block Body -->
                                           
                                         
                                        </div>
                                        <!-- /End Call To Action Block Container -->
                                     </div>
                                     <!-- /End Call To Action Block -->
                                  </div>
                                  <!-- /End col-md-12 -->
                               </div>
                               <!-- /End row -->
                            </div>
                            <!-- /End container -->
                         </div>
                         <!-- /End Section Container -->
                      </div>