                        <!-- gfort Section -->
                        <div class="gfort-section">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            
                                                <div class="jumbotron jumbotron-cover-image">
                                                  <div class="container">
                                                      <h1>COST OF STUDY</h1>
                                                      
                                                  </div>
                                               
                                              </div>
                                             </div>


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <div class="table-responsive">
                                                <table class="table table-hover">

                                                    <thead>
                                                        <tr>
                                                            <th>Country</th>
                                                            <th>Average Yearly Expences</th>
                                                            
                                                        </tr>
                                                    </thead>

                                                    <tbody>


                                                        <tr>
                                                            <th scope="row"> UK (in London)</th>
                                                            <td>11,385 GBP</td>
                                                            
                                                        </tr>


                                                        <tr>
                                                            <th scope="row">NZD</th>
                                                            <td>15,000 NZD</td>
                                                            
                                                        </tr>


                                                        <tr>
                                                            <th scope="row">Australia</th>
                                                            <td>18,610 AUD</td>
                                                            
                                                        </tr>


                                                    </tbody>

                                                </table>
                                            </div>
                                        </div><!-- /End col-md-12 -->


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->
