
            <!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
                <!-- Section Container -->
                <div class="section-container">


                    <!-- Breadcrumb Title -->
                    <div class="breadcrumb-title light-color">
                        <!-- container -->
                        <div class="container">

                            <h1 class="breadcrumb-main-title">TRADE TEST</h1>
                            <!-- <p class="breadcrumb-subtitle">What We Provide</p> -->

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb Title -->


                    <!-- Breadcrumb Block -->
                    <div class="breadcrumb-block">
                        <!-- container -->
                        <div class="container">

                            <ol class="breadcrumb">
                                <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                                <li class="active">Trade Test</li>
                            </ol>

                        </div><!-- /End container -->
                    </div><!-- /End Breadcrumb block -->


                </div><!-- /End Section Container -->
            </div><!-- /End Page Title Section -->
            <!-- Page Body
            ==================================================================== -->
            <div class="page-body">


                <!-- Main Content
                ================================================================ -->
                <div class="main-content">
                    <!-- Main Content Container -->
                    <div class="main-content-container">


                        <!-- gfort Section -->
                        <div class="gfort-section ">
                            <!-- Section Container -->
                            <div class="section-container">
                                <!-- container -->
                                <div class="container">
                                    <!-- row -->
                                    <div class="row">


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <!-- Section Title -->
                                            <div class="section-title text-center">

                                                <h2 class="section-main-title">TRADE TEST</h2>

                                                <p class="section-subtitle" style="text-align: justify;">We usually conduct Trade Test for strictly identifying the right candidate for skilled works and these tests are being conducted at well-established and recognized testing Centers all over India. In Cochin Trade Tests are held at Little Flower Engineering Institute and in Visakhapatnam Ammess Institute and in Mumbai Anuptech Technical & Trade Accreditation MIDC.</p>
                                                <p class="section-subtitle" style="text-align: justify;">These Testing Centers are the best testing Centers available in these Areas. Their facilities have been utilized by many local and foreign employers for many Years.</p>
                                                <p class="section-subtitle" style="text-align: justify;">The above institutes are well established with modern facilities to test the candidate’s skills in various fields such as Welding, Fabrication, Electrical, Carpentry, Civil and Mechanical Engineering and many other trades.</p>
                                                <div class="hr-divider hr-divider-style-3 text-center"></div>

                                            </div><!-- /End Section Title -->
                                        </div><!-- /End col-md-12 -->


                                        <!-- col-md-12 -->
                                        <div class="col-md-12">
                                            <div class="hr-divider hr-divider-style-5 text-center hr-divider-grey-color mb-60">
                                                <i class="fa fa-heart-o"></i>
                                            </div>
                                        </div><!-- /End col-md-12 -->


                              


                                    </div><!-- /End row -->
                                </div><!-- /End container -->
                            </div><!-- /End Section Container -->
                        </div><!-- /End gfort Section -->


                    </div><!-- /End Main Content Container -->
                </div><!-- /End Main Content -->


            </div><!-- /End Page Body -->