<!-- Page Title Section
            ==================================================================== -->
            <div class="page-title-section parallax-section" style="background-color: #03122e;">
                <!-- <div class="page-title-section parallax-section" style="background-image: url(../../assets/../../assets/images/aboutus/back.jpg);"> -->
            <!-- Section Container -->
            <div class="section-container">
        
        
                <!-- Breadcrumb Title -->
                <div class="breadcrumb-title light-color">
                    <!-- container -->
                    <div class="container">
        
                        <h1 class="breadcrumb-main-title">Study Destinations</h1>
                        <p class="breadcrumb-subtitle">What We Provide</p>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb Title -->
        
        
                <!-- Breadcrumb Block -->
                <div class="breadcrumb-block">
                    <!-- container -->
                    <div class="container">
        
                        <ol class="breadcrumb">
                            <li><a routerLink="/home" title="Home"><i class="fa fa-home"></i></a></li>
                            <li class="active">Italy</li>
                        </ol>
        
                    </div><!-- /End container -->
                </div><!-- /End Breadcrumb block -->
        
        
            </div><!-- /End Section Container -->
        </div><!-- /End Page Title Section -->
        
        
        <div class="gfort-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Nav tabs -->
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#Overview" aria-controls="Overview" role="tab"
                                        data-toggle="tab"><i class="fa fa-home"></i>  <span>Overview</span></a></li>
                            </ul>
        
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="Overview">
                                    <div>
                                        <p>
                                                Italy is a unitary parliamentary republic in Europe. Located in the heart of the
                                                Mediterranean Sea. It is the fourth most populous EU member state. Italy has the third largest economy
                                                in the Eurozone and the eighth largest in the world. It has a very high level of human development and is
                                                ranked sixth in the world for life expectancy. The country plays a prominent role in regional and global
                                                economic, military, cultural and diplomatic affairs, and it is both a regional power and a great power.
                                                Italy is a founding and leading member of the European Union and the member of numerous
                                                international institutions.
                                        </p>
        
                                        <h3 id="quickFacts">QUICK FACTS</h3>
                                        <ul>
                                            <li>Capital: Rome</li>
                                            <li>Largest City: Rome</li>
                                            <li>Population: 59.83 million</li>
                                            <li>Official Languages: Italian as well as German, French and Latin in some regions in Northern Italy</li>
                                            <li>ISD Code: +39</li>
                                            <li>Currency: Euro</li>
                                            <li>Minimum Wages / Hour: €5 - €15</li>
                                            <li>Number of Universities: 89</li>

        
                                        </ul>


                                        <p>
                                            Italian higher education system consists of two main articulations: the university sector and the non-
                                            university sector.
                                        </p>

        
                                        <h3 id="educationIns">ITALIAN EDUCATIONAL INSTITUTIONS</h3>
                                        <ul>
        
                                               <li>Public Universities</li> 
                                               <li>Private Universities</li>
                                               <li>Vocational Institutions</li>
                                            
                                  
                                        </ul>
                                        <h3 id="qualificationsOffered">QUALIFICATIONS OFFERED</h3>
                                        <ul>
        
                                         

                                            <li>Diploma</li> 
                                        
                                            <li>Bachelor’s Degree</li> 
                                            <li>Master’s Degreee</li> 
                                            <li>Doctorate</li>

        
        
        
                                        </ul>
        
                                        <h3 id="whyStudyin">WHY STUDY IN IRELAND?</h3>
                                        <p>
                                                Universities in Italy were founded in the 12th century making them the oldest in the Western world. The
                                                reorganisation of the Italian education system originated the new concept of University institutions
                                                across the rest of Europe. With its strong historical aura, breath taking sites and diverse natural
                                                landscape Italy is sure to provide international students an enriching cultural experience. The fields of
                                                design, architecture, fashion, applied sciences and arts lie at the forefront of Italy&#39;s domain of higher
                                                education.
                                        </p>
                                        <ul>
               

                                                <li>Home to one of the oldest Universities in the Western world (The University of Bologna)Large
                                                    number of prestigious universities &amp; courses to choose from</li>
                                                <li>Low Tuition Fees compared to other European countries.</li>
                                                <li>IELTS /TOEFL not required</li>
                                                <li>Italy Milan is the world capital of fashion</li>
                                                <li>Less time and easy visa processing.</li>
                                                <li>Scholarships Fee waivers, Free housing ,refectory meal tickets are provided for deserving
                                                students</li>
                                                <li>6 months stay back available</li>
                                                <li>Opportunity to work 20 hours per week</li>
                                                <li>15 Italian universities finds place in the list of Top 200 universities in the world</li>
                                                <li>Ranks among the 8 most industrialized countries in the world</li>
                                                <li>Has reputation for its rich (but surprisingly healthy) Mediterranean diet</li>
                                                <li>Scholarships Fee waivers, Free housing ,refectory meal tickets are provided for deserving
                                                students</li>


                                        </ul>
        
        
                                        <h3 id="testRequirements">TEST REQUIREMENTS</h3>
                                        <p>TOEFL or IELTS is not required.</p>
                                     
        
                                        <h3 id="intakes">INTAKE </h3>
                                        <ul>
                                            <li>Jan /September</li>
                                        </ul>
        
                                        <h3 id="costOfEducation">COST OF EDUCATION</h3>
                                        <ul>
                                            <li>Approximately 3300 Euros per year, fee may vary depending on the university and course of
                                                study.</li>
                                            <li>For Specialized degree and doctoral courses the fee would be on a higher side</li>
                                        </ul>
                                        <p>*Fees given are of informative nature, may vary from university to university</p>
        
        
                                        <h3 id="costOfLiving">COST OF LIVING</h3>
                                        <p>
                                                Varies considerably depending on location, though comes between 1000 and 1500 Euros.
                                        </p>
        
                                        <h3 id="workRights">PART TIME WORK RIGHTS &amp; MINIMUM WAGE</h3>
                                        <p>
                                                Students are allowed to work part time 20 hours per week while studying the course. In Italy, Minimum
                                                wages varies between €5 to €15 per hour depending upon the area.
                                        </p>
        
                                        <h3 id="staybackoptions">STAY BACK OPTIONS</h3>
                                        <p>
                                                6 months stay back is available
                                        </p>
        
                                        <h3 id="staybackoptions">USEFUL LINKS</h3>
                                        <ul>
                                   
                                            <li>European Higher Education Area: http://www.ehea.info</li>
                                            <li>Ministry Of Education, University And Research: http://www.istruzione.it</li>

                                        </ul>
                   
        
                                        <h3 id="disclaimer">DISCLAIMER</h3>
                                        <p>
                                                This guidance is for students interested in studying abroad in particular country. It is only a guide for
                                                which information is taken from various relevant websites. It aims to answer some common questions.
                                                Visitors are recommended to contact the office for most updated information.
                                        </p>
        
                                    </div>
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="gfort-section fullwidth-section pt-0 pb-0">
            <!-- Section Container -->
            <div class="section-container">
               <!-- container -->
               <div class="container">
                  <!-- row -->
                  <div class="row">
                     <!-- col-md-12 -->
                     <div class="col-md-12">
                        <!-- Call To Action Block -->
                        <div class="cta-block cta-block-main mb-0">
                           <!-- Call To Action Block Container -->
                           <div class="cta-block-container">
                              <!-- Call To Action Block Body -->
                              <div class="cta-block-body">
                                 <p>Need help? Call Us Now at <a href="#">+91 730 670 0014</a> or</p>
                              </div>
                              <!-- /End Call To Action Block Body -->
                              <!-- Call To Action Block Button -->
                              <div class="cta-block-btn">
                                 <a routerLink="/contactus" class="btn btn-gfort-white">Contact us now</a>
                              </div>
                              <!-- /End Call To Action Block Button -->
                            
                           </div>
                           <!-- /End Call To Action Block Container -->
                        </div>
                        <!-- /End Call To Action Block -->
                     </div>
                     <!-- /End col-md-12 -->
                  </div>
                  <!-- /End row -->
               </div>
               <!-- /End container -->
            </div>
            <!-- /End Section Container -->
         </div>
         <!-- /End gfort Section -->
                       <!-- gfort Section -->
                       <div  class="gfort-section fullwidth-section pt-0 pb-0">
                         <!-- Section Container -->
                         <div class="section-container">
                            <!-- container -->
                            <div class="container">
                               <!-- row -->
                               <div class="row">
                                  <!-- col-md-12 -->
                                  <div class="col-md-12">
                                     <!-- Call To Action Block -->
                                     <div style="background-color:white" class="cta-block  mb-0">
                                        <!-- Call To Action Block Container -->
                                        <div class="cta-block-container">
                                           <!-- Call To Action Block Button -->
                                           <div class="cta-block-btn">
                                                 <a target="blank" href="assets/Documents/TempusSampleBrochure.pdf" class="btn btn-gfort">Download</a>
                                              </div>
                                              <!-- /End Call To Action Block Button -->
                                           <!-- Call To Action Block Body -->
                                           <div class="cta-block-body">
                                              <p>Download Our Brochure</p>
                                           </div>
                                           <!-- /End Call To Action Block Body -->
                                           
                                         
                                        </div>
                                        <!-- /End Call To Action Block Container -->
                                     </div>
                                     <!-- /End Call To Action Block -->
                                  </div>
                                  <!-- /End col-md-12 -->
                               </div>
                               <!-- /End row -->
                            </div>
                            <!-- /End container -->
                         </div>
                         <!-- /End Section Container -->
                      </div>